<div class="col-5 offset-3 center">
    <p class="titre row ">
        Entrez une nouvelle mot de passe</p>
    <form [formGroup]="userData" (ngSubmit)="signIn()">

        <mat-form-field appearance="outline" class="row col-10 offset-1 mt-2">
            <mat-label>mot de passe</mat-label>
            <input matInput type="password" class="form-control" formControlName="password">
        </mat-form-field>
        <br><br>
        <mat-form-field appearance="outline" class="row col-10 offset-1 mt-2">
            <mat-label>confirmation du mot de passe</mat-label>
            <input matInput type="password" class="form-control" formControlName="confirm_password">
        </mat-form-field>
        <br><br>
        <button class="submit row " type="submit" (click)="signIn()">changer</button>

    </form>


</div>