<div class="col-5 offset-3 center">
    <p class="titre row ">
        Entrez une nouvelle mot de passe</p>
    <form [formGroup]="userData" (ngSubmit)="reset()">

        <mat-form-field appearance="outline" class="row col-10 offset-1 mt-2">
            <mat-label>Mot de Passe</mat-label>
            <input matInput type="password" class="form-control" name="password" formControlName="password">
            <div *ngIf="f['password'].touched && f['password'].invalid">
                <div *ngIf="f['password'].errors && f['password'].errors['required']"> password is required </div>
            </div>
        </mat-form-field>
        <br><br>
        <mat-form-field appearance="outline" class="row col-10 offset-1 mt-2">
            <mat-label>confirmation mot de passe</mat-label>
            <input matInput type="password" class="form-control" name="confirm_pass" formControlName="confirm_pass">
            <div *ngIf="f['confirm_pass'].touched && f['confirm_pass'].invalid">
                <div *ngIf="f['confirm_pass'].errors && f['confirm_pass'].errors['required']"> confirm password is required </div>
                <div *ngIf="f['confirm_pass'].errors && f['confirm_pass'].errors['ConfirmedValidator']"> password dont' match</div>
            </div>
        </mat-form-field>
        <br><br>
        <button class="submit row " type="submit" [disabled]="!userData.valid">changer</button>

    </form>


</div>