<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>

<body>
    <div class="titre" style="font-size: 2vw;">Paramètres</div>
    <div class="bouttons" style="display:flex">
<div class="paramCompte"> <a style="color:#FFF ;  text-decoration:none;" href="form"> Paramètres du compte</a>  </div>
    <div class="parame2"> <a style="color:#FFF ;  text-decoration:none;" href="form"> Paramètres des compléments</a>    </div>
      

    </div>
</body>

</html>