<div class="all">
    <div  class="title" style="display: flex;"> <img src="./assets/logo.png" style="width: 105px;" alt="logo"> <br><div style="margin-top:2%" >Biody Diet</div> </div>
     <strong><div style="font-size: x-large;;">Conditions Générales d'Utilisation
    </div></strong><br> <strong>ARTICLE 1. DEFINITIONS</strong> <br><br>
Les termes débutant par une majuscule au sein du Contrat, qu'ils soient utilisés au singulier ou au pluriel, auront la signification qui leur est donnée ci-après.
Solutions désigne les fonctions opérationnelles listées en annexe du contrat et mises à disposition du Client dans le cadre des Services Applicatifs objets du contrat ;
Données désignent les informations, publications et, de manière générale, les données de la base de données Client dont l'utilisation est l'objet du présent contrat, pouvant être consultées uniquement par les Utilisateurs ;
Identifiants désignent tant l'identifiant propre de l’utilisateur ('login') que le mot de passe de connexion ('password'), communiqués après inscription au service ;
Internet désigne l’ensemble de réseaux interconnectés, lesquels sont localisés dans toutes les régions du monde ;
Intranet désigne le réseau informatique propre à une entreprise ou une organisation, utilisant les protocoles TCP/IP et, plus généralement, les technologies de l’Internet et pouvant être relié au réseau Internet ;
Logiciel désigne tout logiciel fourni par le Prestataire au Client et en particulier les Solutions associées.
Service applicatif désigne le service proposé en mode SaaS par le Prestataire, permettant l’utilisation des Solutions par le Client ;
Utilisateur désigne la personne placée sous la responsabilité du Client (préposé, salarié, représentant, etc.) et bénéficiant d’un accès aux Services applicatifs sur son ordinateur en vertu de la licence d’utilisation contractée par le Client.<br><br>

<strong>ARTICLE 2. OBJET</strong> <br><br>
Le contrat a pour objet de définir les termes et conditions applicables aux Services commandés par le Client.
Le Prestataire consent au Client, qui accepte :
un droit d'accès aux serveurs du Prestataire dans les conditions définies ci-après ;
un droit d'utilisation finale des Solutions ;
un ensemble de services ci-après définis, notamment d’hébergement des données, de maintenance des Services applicatifs, d’assistance technique.<br><br>
<strong>ARTICLE 3. DOCUMENTS CONTRACTUELS</strong> <br><br>
Le contrat ainsi que les documents intitulés « Annexes » constituent l’intégralité des engagements existant entre les Parties, ci-après ensemble le Contrat. Il remplace et annule tout engagement oral ou écrit antérieur relatif à l'objet du Contrat.
Le Contrat est formé des documents contractuels suivants présentés par ordre hiérarchique de valeur juridique décroissante :
le présent document ;
les annexes au présent document.
En cas de contradiction entre une et/ou plusieurs dispositions figurant dans l'un quelconque de ces documents, le document de rang supérieur prévaudra.
Les annexes au présent document qui font partie intégrante du Contrat sont les suivantes :
annexe 1: Description des Solutions
annexe 2: Charte qualité
Il est formellement convenu entre les Parties que toute tolérance ou renonciation d'une des Parties, dans l'application de tout ou partie des engagements prévus au Contrat, quelles que puissent en être la fréquence et la durée, ne saurait valoir modification du Contrat, ni être susceptible de créer un droit quelconque.<br><br>

<strong>4. DÉSINSCRIPTION</strong> <br><br>
L’utilisateur reste libre de se désinscrire en mettant fin à son contrat de licence à tout instant en envoyant un courrier contenant ses coordonnées complètes, accompagné d’une pièce justificative de son identité et qui spécifie clairement sa demande à l’adresse suivante :
Société Aminogram
A l’attention du chef d’entreprise
96 voie Atlas
ZI Athelia III
13600 La Ciotat
En cas de demande de clôture de compte, l’utilisateur a la responsabilité de transmettre au préalable à ses patients/clients un dossier d’export de leurs données.
La société Aminogram, soit l'éditeur du logiciel, se réserve également le droit de suspendre ou clôturer le compte d'un utilisateur pour tout motif objectivé et justifié, préalablement notifié à l'intéressé par tout moyen (courrier électronique ou recommandé), notamment dans l'hypothèse où l’utilisateur aurait violé les lois en vigueur et applicables, notamment pénales, ou celles visant à protéger les droits d'un tiers y compris ceux d’Aminogram, ou si sa conduite a nui aux intérêts d'une personne, quelle qu'elle soit, y compris Aminogram ou toute société ayant un lien légal avec l'Editeur. Dans de telles conditions, les patients/clients qui souhaiteraient se voir restituer leurs données pourront en faire la demande par l’intermédiaire d’un autre praticien utilisateur du Biody Xpert sous licence Biody Manager.
En cas de décès de l’utilisateur, et sur production des pièces justificatives, le compte sera supprimé.
Le patient peut demander à Aminogram le transfert de son dossier à un autre praticien utilisateur du Biody Xpert sous licence Biody Manager.<br><br>

<strong>ARTICLE 5. DESCRIPTION DES SERVICES APPLICATIFS</strong><br>
5.1. SOLUTIONS APPLICATIVES
Le Prestataire met à disposition du Client les Solutions accessibles sur son serveur par le biais du réseau Internet.
Dans les conditions de l’article « Licence », le Prestataire consent au Client le droit d'utiliser de façon non exclusive, les Solutions désignées en annexe1
Le Prestataire assure l’hébergement des Données, la maintenance et la sécurité des Solutions.
Le Prestataire réalise la sauvegarde des Données dans les conditions définies en Annexe 2 Charte Qualité.
Les prestations sont assurées conformément à la Charte Qualité figurant en Annexe 2.

5.2. RESEAU
Le Prestataire ne pouvant être tenu pour responsable des interruptions de ligne du réseau, il attire particulièrement l’attention du Client sur l’importance du choix du produit de l’opérateur et notamment de l’option de secours qu’il peut offrir par la mise en place d’une ligne parallèle en cas d’interruption du réseau.

5.3. ACCES AUX SOLUTIONS
Le Client utilisera seul ce droit d'accès. Il pourra se connecter à tout moment – à l’exception des périodes de maintenance –, à savoir :
24 heures sur 24,
7 jours sur 7,
y compris les dimanche et jours fériés,
La procédure d’accès définie par le Prestataire et annexée aux présentes, dans le cadre de la Charte Qualité, doit être rigoureusement respectée par le Client.
L'accès s'effectue :
à partir des ordinateurs Clients.
à partir de tout ordinateur Client nomade
au moyen des Identifiants fournis au Client.
L'identification du Client lors de son accès aux Services applicatifs se fait au moyen :
d'un Identifiant attribué à chaque Utilisateur par le Prestataire,
et d'un mot de passe communiqué au Client par le Prestataire ou d'un mot de passe crée par le Client au moment de l'enregistrement de sa licence.
Le Client utilisera les Identifiants qui lui auront été communiqués ou qu'il aura crée lors de chaque connexion aux Services applicatifs.
Les Identifiants sont destinés à réserver l'accès des Solutions objets du Contrat aux Utilisateurs du Client, à protéger l'intégrité et la disponibilité des Solutions, ainsi que l'intégrité, la disponibilité et la confidentialité des Données du Client telles que transmises par les Utilisateurs.
Les Identifiants sont personnels et confidentiels. Ils ne peuvent être changés que sur demande du Client ou à l'initiative du Prestataire sous réserve d’en informer préalablement le Client. Le Client s'engage à mettre tout en œuvre pour conserver secrets les Identifiants le concernant et à ne pas les divulguer sous quelque forme que ce soit.
Le Client est entièrement responsable de l'utilisation des Identifiants et il est responsable de la garde des codes d’accès qui lui sont remis. Il s’assurera qu’aucune autre personne non autorisée par le Prestataire n’a accès aux Services applicatifs et aux Solutions. De manière générale, le Client assume la responsabilité de la sécurité des postes individuels d’accès aux Solutions. Dans l’hypothèse où il aurait connaissance de ce qu’une autre personne y accède, le Client en informera le Prestataire sans délai et le confirmera par courrier recommandé.
En cas de perte ou de vol d'un des identifiants, le Client utilisera la procédure mise en place par le Prestataire lui permettant de récupérer ses identifiants par email.<br><br>

<strong>ARTICLE 6. QUALITE DES APPLICATIFS</strong><br><br>
Le Client est averti des aléas techniques inhérents à l’Internet, et des interruptions d’accès qui peuvent en résulter. En conséquence, le Prestataire ne sera tenu responsable des éventuelles indisponibilités ou ralentissements des Services applicatifs. En outre, le Prestataire exécute ses prestations conformément à la Charte qualité. Le Prestataire n’est pas en mesure de garantir la continuité des Services applicatifs, exécutés à distance via Internet, ce que le Client reconnaît.
Le Prestataire s’engage à mettre en place des contrôles efficaces de nature à procurer une assurance raisonnable que le Client peut accéder et utiliser les applications concernées aux heures déterminées aux présentes.
Le Prestataire garantit la mise en œuvre des Services applicatifs conformes à la charte qualité figurant en annexe 2.
Les Services applicatifs peuvent être occasionnellement suspendus en raison d'interventions de maintenance nécessaires au bon fonctionnement des serveurs ou de la plate-forme du Prestataire.
Le Prestataire ne pourra être tenu responsable de l’impact éventuel de cette indisponibilité sur les activités du Client.<br><br>

<strong> 7. LICENCE</strong><br><br>
Le Prestataire concède au Client un droit personnel, non exclusif, non cessible et non transférable d’utilisation des Solutions, pendant toute la durée du Contrat et pour le monde entier.
Le Client ne peut utiliser les Services applicatifs et les Solutions que conformément à ses besoins et à leur documentation. En particulier, la licence relative aux Solutions n’est concédée que dans le seul et unique but de permettre au Client l’utilisation des Services, à l’exclusion de toute autre finalité.
Le droit d’utilisation s’entend du droit de représenter et de mettre en œuvre les Services applicatifs conformément à leur destination, en mode SaaS via une connexion à un réseau de communications électroniques. Le Client ne pourra en aucun cas mettre les Solutions à disposition d’un tiers, et s’interdit strictement toute autre utilisation, en particulier toute adaptation, modification, traduction, arrangement, diffusion, décompilation, sans que cette liste soit limitative.<br><br>

<strong> 8. MAINTENANCE</strong><br><br>
Le Prestataire prend en charge la maintenance corrective et évolutive des Solutions.
Une prestation de support par téléphone permettant de traiter les anomalies est disponible du lundi au vendredi de 9h30 à 12h30 et de 14h00 à 17h00. Les signalements d’anomalie doivent être confirmés par email au Prestataire sans délai. Le Prestataire procède au diagnostic de l’anomalie et met ensuite en œuvre sa correction.
Le Prestataire n’est pas responsable de la maintenance dans les cas suivants :
refus du Client de collaborer avec le Prestataire dans la résolution des anomalies et notamment de répondre aux questions et demandes de renseignement ;
utilisation des Services applicatifs de manière non conforme à leur destination ou à leur documentation ;
modification non autorisée des Solutions par le Client ou par un tiers ;
manquement du Client à ses obligations au titre du Contrat ;
implantation de tous progiciels, logiciels ou système d'exploitation non compatibles avec les Services applicatifs ;
utilisation de consommables incompatibles ;
défaillance des réseaux de communication électronique ;
acte volontaire de dégradation, malveillance, sabotage ;
détérioration due à un cas de force majeure ou à une mauvaise utilisation des Services applicatifs.
Le Prestataire s’engage à transmettre les documentations mises à jour des nouvelles versions des Solutions.
Les corrections et évolutions des Services applicatifs sont expressément soumises au Contrat. Les interventions relatives à ce service peuvent rendre le service momentanément indisponible. Le Prestataire garantit que les mises à niveau et nouvelles versions des Logiciels n’entraîneront aucune régression des Services applicatifs en termes de performances et de fonctionnalités.<br><br>

<strong>ARTICLE 9. ASSISTANCE TECHNIQUE</strong><br><br>
Le service d’assistance technique s’applique à toutes Solutions fournies par le Prestataire et consiste à assister les Utilisateurs par téléphone ou par télémaintenance.
Il sera répondu au Client, du lundi au vendredi de 9h30 à 12h30 et de 14h00 à 17h30 par téléphone, sur appel au numéro +33 (0) 4 42 72 66 03.<br><br>

<strong>ARTICLE 10. FORMATION</strong><br><br>
Sur demande du Client, le Prestataire peut fournir des conditions à définir d'un commun accord des prestations de formation.
Le Prestataire soumettra une proposition de prestation de formation si ses relevés d’intervention dans le cadre de l’assistance technique et de la maintenance corrective des Services applicatifs font apparaître des problèmes récurrents d’utilisation par le Client distincts d’anomalies.<br><br>
