<app-navmenu></app-navmenu>


<br><br>

           
<div class="separator">Modifier ce nutriment</div>
<div class="outline">

<mat-card class="  mat-elevation-z8  col-10 "  >
    <mat-card-header>
        <mat-card-title class="title-overlap"><h3>Informations nutriment</h3></mat-card-title>
    </mat-card-header>
    <br> <br>
    <mat-card-content>
    <form  [formGroup]="CurrentNutrient" >

        <div class="row center" >
            
            <mat-form-field appearance="standard" class=" row center  ">
                <mat-label>Nom</mat-label>
                
                <input matInput placeholder="Nutriment" id="name" formControlName="name" >
                
            </mat-form-field>
    
            <mat-form-field appearance="standard" class="row center  ">
                <mat-label>Teneur</mat-label>
                <input matInput placeholder="Teneur"  id="tenor" formControlName="tenor">
            </mat-form-field>
            <mat-form-field appearance="standard" class="row center  ">
                <mat-label>unity</mat-label>
                <input matInput placeholder="Teneur"  id="unity" formControlName="unity">
            </mat-form-field>
       </div>
        </form>
        <div  class=" boutton   ">
            <button mat-button (click)=" updateNutrient(); "  >Modifier</button>
        </div>
        </mat-card-content>
        </mat-card>
        </div>
        <a href="admin/nutrient/nutrientlist">   <button mat-icon-button color="primary"  style="float: right; margin-right: 30vw;" title="Modifier">Retour à la liste des nutriments</button></a>
<app-footer></app-footer>