.titre
{   
    margin-top: 3vw;
    text-align: center;
    color:#23b4b8 ;
    font-weight:900;
    font-family: ' sans-serif' ;
}
.préparation{
      cursor: pointer;
      font-size:2.5vw;
      font-weight: 900;
      border-radius: 5em;
      color: #FFF;
      width:25vw;
      background:  #23b4b8 ;
      display: flex;
      width: 25vw;
      margin-top: 20vh;
      margin-bottom: 25vh;
      font-family: 'serif';
      text-align: center;
      margin-left: 2vw;
      
      
  }
  
  .titre
  {
      text-align: center;
      color:#00babb;
      font-weight:900;
      font-family: ' sans-serif' ;
      margin-top:1vw;
  }
 
 a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  
    text-decoration: none
}
 .progressbar-wrapper {
    background: #fff;
    margin-top: 0.5vw;
    padding-top: 2vw;
    padding-left: 3vw;
    padding-right: 2vw;
    font-size: 1vw;
    display: flex;
    margin-left:20vw;
    
  margin-right:1vw;
  text-decoration: none;
 
}
.btn0,.btn1{
  text-decoration: none;
  color:#b0b3b3;
  padding-right: 1vw;
}
.btn2{
    color:#00babb;
}


.inferieur{
    color: #00babb;
    margin-left: 1vw; 
    font-weight:  900px;;
    margin-right: 1vw; 
}

mat-check 
{
color: #8f8684;
font-size: small;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #23b4b8!important;
  }
  
  ::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: #23b4b8 !important;
  }


.C1
{
height: 25vw;
}

.C2
{
  padding-top: 0%;
padding-bottom: 1vw;
padding-left: 1vw;
height: 25vw;
}
.C3
{
height: 25vw;
}




.titre1
{
  size: 4vw; 
  font-weight: bold;
  color: #fff;
  background-color:#23b4b8 ;
  margin-bottom: 0%;
  margin-top: 0%;
  height: 0.5vw;
  padding-top: 0.2vw;
  padding-bottom: 2vw;
  font-size: 1vw;
  text-align: center;
 
}
.prep1 
{
  color: #8f8684;
  font-style: italic;
  font-size: 1VW;
  
}
.prep2
{
  color: #8f8684;
  font-style: italic;
  font-size: 1VW;
  background-color: #cceeef  ;
  
  
}


.quitter{
  cursor: pointer;
  font-size: 1vw;
    border-radius: 5em;
    color: #fff;
    width:4vw;
    font-weight: bold;
    background:  #00babb;
    padding-left: 2.5vw;
    padding-right: 3vw;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    font-family: serif;
    margin-left:10vw;
    margin-right: 5vw;
    float:right;
    margin-top:0.5vw;
    
    
}
.quitter a{
  text-align: center;
}

.button{
  padding: 9px;
 
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 1vw;
    border-radius: 5em;
    color: #fff;
    width:3vw;
    font-weight: bold;
    background:  #00babb;
    padding-left: 1vw;
    padding-right: 6vw;
    text-align: center;
    padding-top: 0.5vw;
    font-family: serif;
    color:#FFF;
     text-decoration: none;
    margin-right: 1vw;
    
}


.divboutton
{
  margin-top: 0%;
  padding: 10px;
   
  

}

.prep11
{
  color: #8f8684;
  font-style: italic;
  font-size: 1VW;
  background-color: #d1d1d1;
  position: relative;
  
}
.nutriment{
  color: #8f8684;
  font-style: italic;
  font-size: 0.5VW;
}
.example-container {

  height: 330px;

  max-width: 100%;
  overflow: auto;
 

}
mat-row{
  border-bottom-style: none;
 
    border-bottom: none;
    border-color: white;
  
}
th{
  position: fixed;
  background-color: #d1d1d1;
  color: #8f8684;
}
.mat-row.hovered {
  background: #eee;
}

.mat-row.highlighted {
background: #999;
}

table{
  box-shadow: none;

}
.href{
  color: #fff;
}


