<app-navmenu></app-navmenu>
<div class="stepperContainer  ">
    <div>
        <h1 class="stepper-header-title" *ngIf="stepper.selectedIndex === 0">{{'Nouvelle prescription' }}
        </h1>
        <h1 class="stepper-header-title" *ngIf="stepper.selectedIndex === 1">{{'Questionnaire' }}
        </h1>
        <h1 class="stepper-header-title" *ngIf="stepper.selectedIndex === 2">{{'Prescriptions Compléments' }}
        </h1>
        <h1 class="stepper-header-title" *ngIf="stepper.selectedIndex === 3">{{'Impression' }} </h1>
    </div>
    <a href="home" class="bt-quitter"> Quitter</a>

    <mat-stepper class="" [linear]="true" #stepper>



        <mat-step [stepControl]="patientForm" label="Information personnelle">

            <mat-card class=" col-10 ">
                <mat-card-content>
                    <form [formGroup]="patientForm" (ngSubmit)="register()">

                        <div class=" row center ">

                            <mat-form-field appearance="outline" class=" col-md-6 ">
                                <mat-label>Nom</mat-label>
                                <input matInput placeholder="Laura " formControlName="firstName">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="col-md-6 ">
                                <mat-label>Prénom</mat-label>
                                <input matInput placeholder="Martin " formControlName="lastName">
                            </mat-form-field>
                        </div>


                        <div class="row d-flex justify-content-center ">
                            <mat-form-field appearance="outline" class=" col-md-4 ">
                                <mat-label>Date de Naissance</mat-label>
                                <input matInput placeholder="30/11/1980 " formControlName="birth_date">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class=" col-md-4 ">
                                <mat-label>Poids</mat-label>
                                <input matInput placeholder="80 " type="number" min="14 " max="250" formControlName="weight">
                            </mat-form-field>

                            <mat-form-field appearance="outline" class="col-md-4 ">
                                <mat-label>Taille</mat-label>
                                <input matInput placeholder="176 " type="number" min="100 " max="220" formControlName="height">
                            </mat-form-field>
                        </div>

                        <div class=" boutton d-flex justify-content-center ">
                            <button type="submit" mat-button matStepperNext>SUIVANT</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>

            <a class="bt-recherche d-flex justify-content-center " href="recherche ">Rechercher un profil BiodyManager</a>


        </mat-step>


        <mat-step [stepControl]="questionnaireForm" label="Questionnaire">

            <mat-accordion class="panel ">
                <form [formGroup]="questionnaireForm" (ngSubmit)="onSubmit()">

                    <mat-expansion-panel (opened)="panelOpenState0=true ; " (closed)="panelOpenState0=false ">
                        <mat-expansion-panel-header [style.background-color]="panelOpenState0 ? '#d1cdcd !important' : '' ">
                            <mat-panel-title [style.color]="panelOpenState0 ? 'white !important' : '#a49c9b !important' ">
                                Objectif Principal
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-checkbox id=" first " formControlName="first"> I'm visible because I am open</mat-checkbox><br>
                        <mat-checkbox id="second " formControlName="second"> I'm visible because I am open</mat-checkbox><br>
                        <mat-checkbox id="third " formControlName="third"> I'm visible because I am open</mat-checkbox><br>
                        <mat-checkbox id="forth " formControlName="forth"> I'm visible because I am open</mat-checkbox>
                    </mat-expansion-panel>
                </form>

            </mat-accordion>

            <mat-accordion class="panel ">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState1=true ; " (closed)="panelOpenState1=false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState1 ? '#d1cdcd !important' : '' " style="border-bottom-left-radius: 0em ; border-bottom-right-radius: 0em ; size:5vw !important ">
                        <mat-panel-title [style.color]="panelOpenState1 ? 'white !important' : '#a49c9b !important' ">
                            Questionnare de santé
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <mat-accordion class="panel ">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState2=true ; " (closed)="panelOpenState2=false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState2 ? '#d1cdcd !important' : '' " style="border-bottom-left-radius: 0em ; border-bottom-right-radius: 0em ; size:5vw !important ">
                        <mat-panel-title [style.color]="panelOpenState2 ? 'white !important' : '#a49c9b !important' ">
                            Contre Indication
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <mat-accordion class="panel ">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState3=true ; " (closed)="panelOpenState3=false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState3 ? '#d1cdcd !important' : '' " style="border-bottom-left-radius: 0em ; border-bottom-right-radius: 0em ; size:5vw !important ">
                        <mat-panel-title [style.color]="panelOpenState3 ? 'white !important' : '#a49c9b !important' ">
                            Carence alimentaire
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <mat-accordion class="panel ">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState4=true ; " (closed)="panelOpenState4=false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState4 ? '#d1cdcd !important' : '' " style="border-bottom-left-radius: 0em ; border-bottom-right-radius: 0em ; size:5vw !important ">
                        <mat-panel-title [style.color]="panelOpenState4 ? 'white !important' : '#a49c9b !important' " style=" ">
                            Analyse BiodyManager
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <div class=" boutton ">
                <button type="submit " mat-button matStepperNext>SUIVANT</button>
            </div>
        </mat-step>


        <mat-step label="Prescriptions Compléments ">

            <mat-accordion class="panel ">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState2=true ; " (closed)="panelOpenState2=false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState2 ? '#d1cdcd !important' : '' ">
                        <mat-panel-title [style.color]="panelOpenState2 ? 'white !important' : '#a49c9b !important' ">
                            Gamme Protéinée
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>
                </mat-expansion-panel>

            </mat-accordion>
            <mat-accordion class="panel ">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState3=true ; " (closed)="panelOpenState3=false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState3 ? '#d1cdcd !important' : '' " style="border-bottom-left-radius: 0em ; border-bottom-right-radius: 0em ; size:5vw !important ">
                        <mat-panel-title [style.color]="panelOpenState3 ? 'white !important' : '#a49c9b !important' ">
                            Complément alimentaire Nutrisvelt
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <mat-accordion class="panel ">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState4=true ; " (closed)="panelOpenState4=false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState4 ? '#d1cdcd !important' : '' ">
                        <mat-panel-title [style.color]="panelOpenState4 ? 'white !important' : '#a49c9b !important' ">
                            Compléments Alimentaires personnels
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <div class=" boutton d-flex justify-content-center ">
                <button mat-button matStepperNext> ENREGISTRER</button>
            </div>
        </mat-step>


        <mat-step label="impression ">


            <mat-accordion class="panel ">

                <mat-expansion-panel (opened)="panelOpenState2=true ; " (closed)="panelOpenState2=false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState2 ? '#d1cdcd !important' : '' ">
                        <mat-panel-title [style.color]="panelOpenState2 ? 'white !important' : '#a49c9b !important' ">
                            Page de Garde
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <mat-accordion class="panel ">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState3=true ; " (closed)="panelOpenState3=false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState3 ? '#d1cdcd !important' : '' ">
                        <mat-panel-title [style.color]="panelOpenState3 ? 'white !important' : '#a49c9b !important' ">
                            Prescriptions Compléments
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <mat-accordion class="panel ">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState4=true ; " (closed)="panelOpenState4=false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState4 ? '#d1cdcd !important' : '' ">
                        <mat-panel-title [style.color]="panelOpenState4 ? 'white !important' : '#a49c9b !important' ">
                            Fiche Conseils
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <div class=" boutton ">

                <button mat-button matStepperNext>PRINT</button>
            </div>

        </mat-step>


    </mat-stepper>
</div>
<app-footer></app-footer>