<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>  
    function changeColor(color) { 
        document.body.style.background = color; 
    }
</script>  
  
</head>

<body>
  
    <div class="titre" style="font-size: 2vw;">Questionnaire</div>

    <div class="progressbar-wrapper">
    
        <a href="form" class="btn0">Information Personnelle </a><br><div class="inferieur" >></div>&ensp;
        <a href="questionnaire" class="btn1" >Questionnnaire </a>&ensp; <div class="inferieur">></div>&ensp;
       <a href="prescription" class="btn2" > Prescriptions Compléments</a>&ensp; <div class="inferieur">></div>&ensp;
        <a href="impression" class="btn3"> impression</a>
        
       <div class="quitter"> <a href="/" style="color:#FFF; text-decoration: none;"> Quitter</a></div>
       <br>
 </div>
 
 
 

 
 <div class="form1"    >
  <div  class="entete"   
  (click)="toggleShow()"
  [style.background-color]="isShown ? '#d1cdcd' : ''" 
  [style.border-top-left-radius]="isShown ? '2vw' : ''" 
  [style.border-top-right-radius]="isShown ? '2vw' : ''" 
  [style.border-bottom-left-radius]="isShown ? '0vw' : ''" 
  [style.border-bottom-right-radius]="isShown ? '0vw' : ''" 
  [style.color]="isShown ? 'white' : '#a49c9b'" >
  Objectif principale 
   <mat-icon  class="b1"[style.color]="'#70caca'"  *ngIf="!isShown">keyboard_arrow_down</mat-icon>
   <mat-icon class="b1" [style.color]="'#70caca'"  *ngIf="isShown">keyboard_arrow_up</mat-icon>
  </div>
  <mat-card class="bordure" *ngIf="isShown" >
 <section >   
   <mat-checkbox  >un poid idéal</mat-checkbox>
   <br>  <br>  
   <mat-checkbox >un poid idéal</mat-checkbox>
   <br> <br>  
   <mat-checkbox >un poid idéal</mat-checkbox>
 </section>
</mat-card>
</div>
<br>
<div class="form1"    >
  <div  class="entete"   
  (click)="toggleShow1()"
  [style.background-color]="isShown1 ? '#d1cdcd' : ''" 
  [style.border-top-left-radius]="isShown1 ? '2vw' : ''" 
  [style.border-top-right-radius]="isShown1 ? '2vw' : ''" 
  [style.border-bottom-left-radius]="isShown1 ? '0vw' : ''" 
  [style.border-bottom-right-radius]="isShown1 ? '0vw' : ''" 
  [style.color]="isShown1 ? 'white' : '#a49c9b'" >
  Questionnaire de santé
   <mat-icon  class="b1"[style.color]="'#70caca'"  *ngIf="!isShown1">keyboard_arrow_down</mat-icon>
   <mat-icon class="b1" [style.color]="'#70caca'"  *ngIf="isShown1">keyboard_arrow_up</mat-icon>
  </div>
  <mat-card class="bordure"  *ngIf="isShown1" >
 <section >   
   <mat-checkbox  >un poid idéal</mat-checkbox>
   <br>  <br>  
   <mat-checkbox >un poid idéal</mat-checkbox>
   <br> <br>  
   <mat-checkbox >un poid idéal</mat-checkbox>
 </section>
</mat-card>
</div>
<br>
<div class="form1"    >
  <div  class="entete"   
  (click)="toggleShow2()"
  [style.background-color]="isShown2 ? '#d1cdcd' : ''" 
  [style.border-top-left-radius]="isShown2 ? '2vw' : ''" 
  [style.border-top-right-radius]="isShown2 ? '2vw' : ''" 
  [style.border-bottom-left-radius]="isShown2 ? '0vw' : ''" 
  [style.border-bottom-right-radius]="isShown2 ? '0vw' : ''" 
  [style.color]="isShown2 ? 'white' : '#a49c9b'" >
  Contre indication
   <mat-icon  class="b1"[style.color]="'#70caca'"  *ngIf="!isShown2">keyboard_arrow_down</mat-icon>
   <mat-icon class="b1" [style.color]="'#70caca'"  *ngIf="isShown2">keyboard_arrow_up</mat-icon>
  </div>
  <mat-card class="bordure"  *ngIf="isShown2" >
 <section >   
   <mat-checkbox  >un poid idéal</mat-checkbox>
   <br>  <br>  
   <mat-checkbox >un poid idéal</mat-checkbox>
   <br> <br>  
   <mat-checkbox >un poid idéal</mat-checkbox>
 </section>
</mat-card>
</div>

<br>
<div class="form1"    >
  <div  class="entete"   
  (click)="toggleShow3()"
  [style.background-color]="isShown3 ? '#d1cdcd' : ''" 
  [style.border-top-left-radius]="isShown3 ? '2vw' : ''" 
  [style.border-top-right-radius]="isShown3 ? '2vw' : ''" 
  [style.border-bottom-left-radius]="isShown3 ? '0vw' : ''" 
  [style.border-bottom-right-radius]="isShown3 ? '0vw' : ''" 
  [style.color]="isShown3 ? 'white' : '#a49c9b'" >
  Carence alimentaire
   <mat-icon  class="b1"[style.color]="'#70caca'"  *ngIf="!isShown3">keyboard_arrow_down</mat-icon>
   <mat-icon class="b1" [style.color]="'#70caca'"  *ngIf="isShown3">keyboard_arrow_up</mat-icon>
  </div>
  <mat-card class="bordure"  *ngIf="isShown3" >
 <section >   
   <mat-checkbox  >un poid idéal</mat-checkbox>
   <br>  <br>  
   <mat-checkbox >un poid idéal</mat-checkbox>
   <br> <br>  
   <mat-checkbox >un poid idéal</mat-checkbox>
 </section>
</mat-card>
</div>
<br>
<div class="form1"    >
  <div  class="entete"   
  (click)="toggleShow4()"
  [style.background-color]="isShown4 ? '#d1cdcd' : ''" 
  [style.border-top-left-radius]="isShown4 ? '2vw' : ''" 
  [style.border-top-right-radius]="isShown4 ? '2vw' : ''" 
  [style.border-bottom-left-radius]="isShown4 ? '0vw' : ''" 
  [style.border-bottom-right-radius]="isShown4 ? '0vw' : ''" 
  [style.color]="isShown4 ? 'white' : '#a49c9b'" >
  Analyse BiodyManager
   <mat-icon  class="b1"[style.color]="'#70caca'"  *ngIf="!isShown4">keyboard_arrow_down</mat-icon>
   <mat-icon class="b1" [style.color]="'#70caca'"  *ngIf="isShown4">keyboard_arrow_up</mat-icon>
  </div>
  <mat-card class="bordure"  *ngIf="isShown4" >
 <section >   
   <mat-checkbox  >un poid idéal</mat-checkbox>
   <br>  <br>  
   <mat-checkbox >un poid idéal</mat-checkbox>
   <br> <br>  
   <mat-checkbox >un poid idéal</mat-checkbox>
 </section>
</mat-card>
</div>

<br> <br> 
<a class="submit" href="impression"> ENREGISTRER  </a>  
</body>

</html>