<app-navmenu>
</app-navmenu>
<div class="title" style="font-size: 1.5vw;">Liste des utilisateurs sur BiodyManager</div>
<div style="display:flex">
    <input matInput (keyup)="applyFilter($event)" class="searchbar" type="text" placeholder="Search.." #input>
    <a class="center chercher"> CHERCHER </a>
</div>
<div class="example-container mat-elevation-z8">


    <table mat-table [dataSource]="dataSource" matSort (matSortChange)=" announceSortChange($event)"
        class="table table-striped w-auto">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th style="width: 10%;" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id"> id </th>
            <td mat-cell *matCellDef="let element"> {{ element.id }}
            </td>
        </ng-container>

        Name Column
        <ng-container matColumnDef="first_name">
            <th style="width: 13%;" mat-header-cell *matHeaderCellDef mat-sort-header
                sortActionDescription="Sort by first_name">
                Nom
            </th>
            <td mat-cell *matCellDef="let element">{{element.first_name}} </td>
        </ng-container>

        <ng-container matColumnDef="last_name">
            <th style="width: 13%;" mat-header-cell *matHeaderCellDef mat-sort-header
                sortActionDescription="Sort by last_name">
                Prénom
            </th>
            <tr>
                <td mat-cell *matCellDef="let element ">{{element.last_name}} </td>
            </tr>
        </ng-container>


        <ng-container matColumnDef="type_user">
            <th mat-header-cell style="width: 15%;" *matHeaderCellDef mat-sort-header
                sortActionDescription="Sort by type_user ">
                type </th>
            <td mat-cell *matCellDef="let element "> {{element.type_user}} </td>

        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell  *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email ">
                Email </th>
            <td style="width: 20%;" mat-cell *matCellDef="let element "> {{element.email}}  &nbsp; &nbsp;</td>

        </ng-container>
        <!-- Action Column-->
        <ng-container matColumnDef="action">
            <tr>
                <th mat-header-cell *matHeaderCellDef> Action </th>
            </tr>
            <tr>
                <td mat-cell *matCellDef="let row" style="width:20%">
                    <a href="admin/users/consultuser"><button mat-icon-button color="primary"
                             title="Afficher les details">
                            <mat-icon>preview</mat-icon>
                        </button></a>
                    <a href="admin/users/edituser"> <button mat-icon-button color="primary" (click)="userToManage(row)"
                            title="Modifier">
                            <mat-icon style="color: darkgoldenrod;">edit</mat-icon>
                        </button></a>
                    <button mat-icon-button color="primary" title="supprimer" (click)="ConfirmationNotification()">
                        <mat-icon style="color: brown;">delete</mat-icon>
                    </button>

                </td>
            <tr>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true  "></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="userToManage(row) "></tr>

        <ng-container matColumnDef="subscription_status">
            <th mat-header-cell *matHeaderCellDef> Module </th>
            <td mat-cell *matCellDef="let element">

                <mat-checkbox [(ngModel)]="element.subscription_status" (change)="checkValue(element.id)"></mat-checkbox>

            </td>
        </ng-container>
    </table>
</div>
<ng-container *ngIf="loading$ | async">
    <div class="spinner_overlay"></div>

    <mat-progress-spinner [color]="'#70caca'" [mode]="'indeterminate'"></mat-progress-spinner>  
  </ng-container>
<div class="d-grid gap-2 d-md-flex justify-content-md-around mt-4">
    <a href="admin/users/adduser"><button mat-flat-button color="primary">
            <mat-icon>group_add</mat-icon>&emsp;Ajouter un nouveau Utilisateur
        </button></a>
</div>

<app-footer></app-footer>