@import '~bootstrap/dist/css/bootstrap.min.css';
.title
{
    text-align: right;
    color:#0a0a0a;
    font-weight:900;
    font-family: ' sans-serif' ;
    margin-top: 3vw;
   text-align: center;
   color: #23b4b8;
    font-size: 1.5vw;
}
table{
   
    margin-top:0.5vw;
    table-layout: fixed;
    margin:auto;
   width:80% !important;
   margin-top:0.5vw;
   margin:auto;
   position: sticky;
   height:30 ;
}
table td{
  height:1vh;
 
 
  
}
a{
    text-decoration: none;
    color:#707272;
}
table td{
    height:1vh;
   
   
    
}


input  {
    float: left;
    padding: 1vw;
    border-color: solid #56afaf;
  background-color: #FFF;
  margin-top:4vw;
  margin-left:10vw;
  margin-bottom: 1vw;;
  border-radius: 25vw 0vw 0vw 25vw ;
  border-width:0.2vw;
    font-size: 1vw;
    width:15vw;
    height:3vw;
  }
  .chercher{
      text-decoration: none;
      background-color: #23b4b8 ;
      color:#FFF;
      font-weight: bold;
      height:3vw;
      padding: 1vw;

      width:8%;
      font-size: 1vw;
      margin-top:4vw;
      margin-bottom: 1vw;
      border-radius: 0vw 25vw 25vw 0vw ;
  }
  
  
  .example-container {
    height: 50%;
    overflow: auto;
  }
  .mat-elevation-z8 {
box-shadow: none;
height: 400px;

}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: green;
}
::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: green;
}
.submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #70caca, #07dfdf);
  border: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size:large;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;   
  height: 30%;
}
:host ::ng-deep .mat-tab-body-wrapper {
  height: 60%;

}
th{
  background-color: #FFF;
}