<app-navmenu>
</app-navmenu>
<div class="navbar     justify-content-center ">
    <div>Analyse BiodyManager du profil {{id}} </div>
</div>
<div class="progressbar-wrapper">
    <a href="form" class="btn0">Derniére analyse </a><br>
    <div class="inferieur">></div>&ensp;

    <a href="questionnaire" class="btn2">Questionnnaire </a>&ensp;
    <div class="inferieur">></div>&ensp;
    <a href="dernierePresc" class="btn3">Denière prescriptions </a>&ensp;
    <div class="inferieur">></div>&ensp;
    <a href="prescription" class="btn4"> Precriptions compléments</a>&ensp;
    <div class="inferieur">></div>&ensp;
    <a href="impression" class="btn4"> Impression</a>

    <div class="quitter"> <a href="/" style="color:#FFF; text-decoration: none;"> Quitter</a></div>
    <br>
</div>
<div class="titre" style="font-size: 2vw;">Analyse BiodyManager du XX/XX/XXXX</div>


<table class="table table-striped tbody table-hover ">
    <thead>
        <tr>
            <th> Indicateur</th>
            <th> Valeur Calculée</th>
            <th> Ecart théorique</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>IMC </td>
            <td>555 77 854</td>
            <td>555 77 854aaaa</td>
        </tr>
        <tr>
            <td>Masse grasse à hydratation constante </td>
            <td>555 77 854</td>
            <td>555 77 854aaaa</td>
        </tr>
        <tr>
            <td>Masse musculaire squelettique </td>
            <td>555 77 854</td>
            <td>555 77 854aaaa</td>
        </tr>
        <tr>
            <td>Index SMI</td>
            <td>555 77 854</td>
            <td>555 77 854aaaa</td>
        </tr>
        <tr>
            <td>Taux d'hydratation hors graisse </td>
            <td>555 77 854</td>
            <td>555 77 854aaaa</td>
        </tr>
        <tr>
            <td>Eau extracellulaire</td>
            <td>555 77 854</td>
            <td>555 77 854aaaa</td>
        </tr>
        <tr>
            <td>Contenu minéral osseux</td>
            <td>555 77 854</td>
            <td>555 77 854aaaa</td>
        </tr>
    </tbody>


</table>


<a class="submit2  justify-content-center " href="recherche" style="text-align:center">SUIVANT</a>
<app-footer></app-footer>