.titre
{   margin-top: 3vw;
    text-align: center;
    color:#23b4b8 ;
    font-weight:900;
    font-family: ' sans-serif' ;
}
.paramCompte {
    cursor: pointer;
    font-size: 2.5vw;
    font-weight: 900;
      border-radius: 5em;
      color: #FFF;
      width:40vw;
      background:  #23b4b8 ;
     
      padding-bottom: 2vw;
      padding-top: 2vw;
      font-family: serif;
     
      position:center;
      margin-top: 25vh;
      margin-bottom: 25vh;
    float:left;
    text-align: center;
     
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      
  }
  .parame2{
    cursor: pointer;
    font-size: 2.5vw;
    font-weight: 900;
      border-radius: 5em;
      color: #FFF;
      width:43vw;
      background:  #23b4b8 ;
     
      padding-bottom: 2vw;
      padding-top: 2vw;
      font-family: serif;
      margin-left:2vw;
      position:center;
      margin-top: 25vh;
      margin-bottom: 25vh;
    float:right;
    text-align: center;
     
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      
  }
  a:hover{
    background-color: #1e7475;
  }