
  <div class="main ">
    <p class="titre" text-align="center">Sign in</p>
    
    <form  [formGroup]="userData"  (ngSubmit)="signIn()" >
     
      <mat-form-field appearance="outline" class="un" >
        <mat-label>username</mat-label>
        <input matInput  type="text"   class="form-control"   formControlName="username">
      </mat-form-field>
    <br><br>
    <mat-form-field appearance="outline" class="pass">
      <mat-label>password</mat-label>
      <input  matInput  type="password"  class="form-control"  formControlName="password">
    </mat-form-field>
      <br><br>
      <button class="submit" type="submit"  (click)="signIn()" >Sign in</button>
         
      </form>       
    </div>
  