<div class="col-5 offset-3 center">
    <p class="titre row ">
        Connexion</p>
    <form [formGroup]="userData" (ngSubmit)="signIn()">

        <mat-form-field appearance="outline" class="row col-10 offset-1 mt-2">
            <mat-label>username</mat-label>
            <input matInput type="text" class="form-control" formControlName="username">
        </mat-form-field>
        <br><br>
        <mat-form-field appearance="outline" class="row col-10 offset-1 mt-2">
            <mat-label>password</mat-label>
            <input matInput type="password" class="form-control" formControlName="password">
        </mat-form-field>
        <br><br>
        <button class="submit row " type="submit" (click)="signIn()">login</button>

    </form>

    <p class="offset-1 font-size-3">Not a member yet? <a href="register"> Sign Up </a>
        <p class="mdp"> <a href="verification"> Mot de Passe oublié?</a>
        </p>

</div>