

<div style="display:flex;text-align:center;">
  
    <input matInput (keyup)="applyFilter($event)" class="bar center" type="text" placeholder="Search.."  #input>
    <button class="chercher" > CHERCHER </button>
</div>
<div class="example-container cdk-elevation-z8">
    <table cdk-table [dataSource]="dataSource" class=" table-hover mat-elevation-z8">
        <!-- Position Column -->
        <ng-container cdkColumnDef="id">
          
    
            <td cdk-cell *cdkCellDef="let element"> {{ element.id }} 
    
            </td>
    
        </ng-container>
    
        Name Column
        <ng-container cdkColumnDef="first_name">
          
            <td cdk-cell *cdkCellDef="let element">{{element.first_name}} </td>
        </ng-container>
    
        <ng-container cdkColumnDef="last_name">
           
    <tr>
            <td cdk-cell *cdkCellDef="let element "> {{element.last_name}}  </td>
    </tr>
        </ng-container>
    
    
        <ng-container cdkColumnDef="birth_date">
          
            <td cdk-cell *cdkCellDef="let element ">  {{element.birth_date.split("T")[0] | date : "dd/MM/yyyy"  }} </td>
           
        </ng-container>
    
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns; " (click)="editProfil(row)"></tr>
    </table>
</div>