<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
</head>

<body>
    <div class="titre" style="font-size: 2vw;">Menu d'impression</div>
<div class="progressbar-wrapper">
    
    <a href="form" class="btn0">Information Personnelle </a><br><div class="inferieur" >></div>&ensp;
    <a href="questionnaire" class="btn1" >Questionnnaire </a>&ensp; <div class="inferieur">></div>&ensp;
   <a href="prescription" class="btn2" > Prescriptions Compléments</a>&ensp; <div class="inferieur">></div>&ensp;
    <a href="impression" class="btn3"> impression</a>
    
   <div class="quitter"> <a href="/" style="color:#FFF; text-decoration: none;"> Quitter</a></div>
   <br>
</div>

<div  class="form1"  >
  <section >   
    <div  class="entete">  <mat-checkbox>Page de garde </mat-checkbox></div>
  </section>
</div>
 <br>
 <div   class="form1" >
  <section >   
    <div  class="entete"> <mat-checkbox >Prescription compléments</mat-checkbox></div>
  </section>
</div>
<br>
<div class="form1"    >
  <div  class="entete" >
    <mat-checkbox >Fiche Conseils</mat-checkbox></div>
  <mat-card class="bordure">
 <section >   
   <mat-checkbox  >un poid idéal</mat-checkbox>
   <br>  <br>  
   <mat-checkbox >un poid idéal</mat-checkbox>
   <br> <br>  
   <mat-checkbox >un poid idéal</mat-checkbox>
 </section>
</mat-card>
</div>
<br> 
<a class="submit" href="impression"> Print  </a>   
</body>

</html>