
       <div class="navbar1" >
    <div class="box"><img src="./assets/logo.png"></div> 
</div>

<div class="navbar  justify-content-center ">
  <li> <a href={{homePath}}><mat-icon class="icon" style="color:white; font-size: 20px;"  aria-label="Example home icon">house</mat-icon></a></li>
   <li ><a href=listeprofil  *ngIf="isAdmin"> Liste des profils</a></li>
   <li> <a href="parametre">Paramètres</a></li>
   <li class="deconnexion"><button (click)="disconnect()" >Déconnexion</button></li>
</div>

<div *ngIf="soon" class="abonnement justify-content-center ">
 <a class="Payment" href="/editCompte" >votre abonnement expire dans {{Days}} {{jours}}</a>
 </div>
