
  .navbar li a
  {
   text-decoration: none;
    color: #fff; 
    margin-left: 3vw
  }
 
  .navbar
  {
    flex-wrap: nowrap;
    list-style-type : none;
    font-size:small;
    margin-left: 3vw;
    margin-right: 3vw;
    background-color: #123640;
    height:1.5vw;
    
  
  }
  
 img {
   padding-left: 7vw;
   margin-bottom: 10vw;
   height:90%;
  margin-top: 0.2vw;

 }
 .box{
   
  height: 4vw;
  border: 1px solid black;
  margin-top: 0%;
  margin-left: 3vw;
  margin-right: 3vw;
  } 
 

  mat-icon{
    transform: scale(1);
  
    font-size: small;
    height: 1vw ;
    width: 1vw;
   
  }
  .navbar button{
     background-color: transparent !important;
     background-repeat:no-repeat !important;
border: none;
color: white;
margin-left: 3vw;
   }
   .abonnement{
     background-color: red;
     flex-wrap: nowrap;
     list-style-type : none;
     margin-left: 3vw;
     padding-top: 0.5vw;
     padding-bottom: 0.5vw;
     margin-right: 3vw;
     display: flex;
     align-items: center !important;
     font-weight: 900;
     
   }