<app-navmenu></app-navmenu>

<div class="container">
  <div class="progressbar-wrapper">
    <a href="parametre" class="btn0">Paramètre </a><br>
    <div class="inferieur">></div>&ensp;
    <a href="gestion" class="btn1">Gestion des compléments </a>
    <div class="inferieur">></div>&ensp;
    <a href="preparations" class="btn1">Gestion des préparations hyperprotéinées </a>
    <div class="inferieur">></div>&ensp;
    <a href="modifierpreparation" class="btn2">Nouvelle préparation hyperprotéinée </a>&ensp;
    <br>
  </div>
  <h2 class="titre">Nouvelle préparation hyperprotéinée</h2>
  <form [formGroup]="addData" (ngSubmit)="add()">
  <mat-card>
    <mat-card-content class="form-center">
    <div class="row col-10 offset-1">
      <mat-form-field appearance="outline">
        <mat-label>Input</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>

    <div  class="row ">
      <div class="col-md-2">
        <mat-label>Portion</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="portion">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput formControlName="composition">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput>
        </mat-form-field>
      </div>
      <div class="col-md-2 ">
        <mat-label>Commentaires</mat-label>
        <mat-form-field class="big-input" appearance="outline">
          <input matInput formControlName="comment">
        </mat-form-field>
      </div>
   

  <mat-card class=" col-md-3 form12 "  >
      <mat-label class="Lable3"> Compositions par 100g</mat-label>
      

       
          
       
  

          <div class="example-container mat-elevation-z8">

            <table mat-table [dataSource]="data" class="mat-elevation-z8">
          
            
          
              <!--- Note that these columns can be defined in any order.
          
                    The actual rendered columns are set as a property on the row definition" -->
          
            
          
              <!-- ID Column -->
          
              <ng-container matColumnDef="id">
          
                <th mat-header-cell *matHeaderCellDef> ID </th>
          
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          
              </ng-container>
          
            
          
              <!-- Name Column -->
          
              <ng-container matColumnDef="name">
          
                <th mat-header-cell *matHeaderCellDef> Name </th>
          
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          
              </ng-container>
          
            
          
              <!-- Email Column -->
          
              <ng-container matColumnDef="email">
          
                <th mat-header-cell *matHeaderCellDef> Email </th>
          
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          
              </ng-container>
          
            
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
            </table>
          
          </div>
        </mat-card>
          <mat-card class=" col-md-3 form12 "  >
      <h1 class="Lable4"> Symtomes</h1>
     
       
          <mat-checkbox>Symtome</mat-checkbox>
          <br> <br>
          <mat-checkbox>Symtome</mat-checkbox>
          <br> <br>
          <mat-checkbox>Symtome</mat-checkbox>
      
     
    </mat-card>
  </div>
</mat-card-content>
  </mat-card>
</form>
</div>





<app-footer></app-footer>