<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>

<body>
  <app-navmenu></app-navmenu>
    <div class="progressbar-wrapper">
    
        <a href="parametre" class="btn0">Paramètre </a><br><div class="inferieur" >></div>&ensp;
        <a href="gestion" class="btn1" >Gestion des compléments </a>&ensp; 
       <br>
    </div>
    <div class="titre" style="font-size: 2vw;">Gestion des compléments</div>
    <div class="bouttons d-flex justify-content-center" style="display:flex; ">
 <a class="préparation" style="color:#FFF ;  text-decoration:none;" href="preparations"> Préparations hyperprotéinées</a>  
    <a class="préparation" style="color:#FFF ;  text-decoration:none;" href="complements"> Compléments alimentaire</a>    
    <a class="préparation d-inline-flex " style="color:#FFF ;  text-decoration:none;" href="produits"> Produits cosmétiques</a>    
    </div>
<app-footer></app-footer>
  </body>
</html>