<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>

<body>
  <app-navmenu></app-navmenu>
  <div class="container">
  <div class="progressbar-wrapper">
    
    <a href="parametre" class="btn0">Paramètre </a><br><div class="inferieur" >></div>&ensp;
    <a href="gestion" class="btn1" >Gestion des compléments </a><div class="inferieur" >></div>&ensp;
    <a href="preparations" class="btn2" >Gestion des préparations hyperprotéinées </a>&ensp; 
   <br>
</div>
<h1 class="titre" style="font-size: 2vw;">Gestion des préparations hyperprotéinées</h1>

<br>
<div class="row">
<div class="form1 col-md-3" >
  <div class="titre1" > Préparations Originales</div>
 <mat-card  class="example-container mat-elevation-z8" >
  
 

  <table cdk-table [dataSource]="dataSource" class="mat-elevation-z8">
   <ng-container matColumnDef="name">

     

      <td cdk-cell *cdkCellDef="let element"> {{element.name}} </td>

    </ng-container>

  

    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>

  </table>
 
 </mat-card>
</div>


<div class="form11 col-md-3" >
  <div class="titre1" > Portions</div>
 <mat-card class="C2" >
  <section >  
    <p class="prep1">1 Barre=45g</p>
    <p class="prep1">2 Barre=90g </p>
  </section>
 </mat-card>
</div>


<div class="form12  col-md-3" >
  <div class="titre1" > Compositions par 100g</div>
 <mat-card class="C3 example-container mat-elevation-z8" >
  

   <table cdk-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
  
        <th cdk-header-cell *cdkHeaderCellDef> Name </th>
  
        <td cdk-cell *cdkCellDef="let element" (click)="search('{{element.name}}')" 
        > {{element.name}} </td>
  
      </ng-container>

      <ng-container matColumnDef="tenor">
  
        <th cdk-header-cell *cdkHeaderCellDef> Teneur </th>
  
        <td cdk-cell *cdkCellDef="let element"> {{element.tenor}} </td>
  
      </ng-container>
      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns; sticky: true" ></tr>
      <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;" ></tr>
  
    </table>
  
 </mat-card>
</div>

<div class="form13 col-md-3 " >
  <div class="titre1" > Symtomes</div>
 <mat-card class="C3" >
    <mat-checkbox >Symtome</mat-checkbox>
    <br>  <br>
    <mat-checkbox >Symtome</mat-checkbox>
    <br>  <br>
    <mat-checkbox >Symtome</mat-checkbox>
 
 </mat-card>
</div>
</div>
<div class="divboutton " > 
<div class="b1"> <a href="/" style="color:#FFF; text-decoration: none;"> Masquer</a></div> 
  <div class="b2"> <a href="/" style="color:#FFF; text-decoration: none;"> Modifier</a></div>
  <div class="b3"> <a href="ajoutpreparation" style="color:#FFF; text-decoration: none;"> Ajouter</a></div> 
  <div class="b4"> <a href="/" style="color:#FFF; text-decoration: none;"> Supprimer</a></div>
</div>
</div>

    <app-footer></app-footer>
    </body>
    
    </html>