<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>
<app-navmenu></app-navmenu>
<body>
    <div class="progressbar-wrapper">
    
        <a href="parametre" class="btn0">Paramètre </a><br><div class="inferieur" >></div>&ensp;
        <a href="gestion" class="btn1" >Gestion des compléments </a><div class="inferieur" >></div>&ensp;
        <a href="preparations" class="btn2" >Gestion des compléments alimentaires </a>&ensp; 
       <br>
    </div>
    <div class="titre" style="font-size: 2vw;">Gestion des compléments alimentaires</div>
  

  <br>
  <div id="granddiv">
  <div class="form1" >
    <div class="titre1" > Préparations Originales</div>
   <mat-card  class="C1" >
    <div class="table-wrapper-scroll-y my-custom-scrollbar">

      <table class="table  table-borderless table1">
        <thead>
          <tr>
           
          </tr>
        </thead>
        <tbody>
          <tr>   
            <td>barre</td>
            
          </tr>
          <tr>
           
            <td>poudre</td>
            
          <tr>
         
            <td>cereale</td>
           
          </tr>
          <tr>
           
            <td>yaourt</td>
          
          </tr>
          <tr>
        
            <td>p1</td>
            
          </tr>
          <tr>
            <td>p3</td>
            
          </tr>
          <tr>
          
            <td>p4</td>
            
          </tr>
          <tr>
          
            <td>p5</td>
            
          </tr>
          <tr>
            
            <td>p7</td>
            
          </tr>
          <tr>
           
            <td>p8</td>
            
          </tr>
          <tr>
          
            <td>p9</td>
            
          </tr>
          <tr>
          
            <td>p10</td>
            
          </tr>
          <tr>
          
            <td>p11</td>
            
          </tr>
          <tr>
          
            <td>p12</td>
            
          </tr>
          <tr>
         
            <td>p13</td>
            
          </tr>
          <tr>
           
            <td>p14</td>
            
          </tr>
          <tr>
            
            <td>p15</td>
            
          </tr>
        </tbody>
      </table>
    
    </div>
    
   
   </mat-card>
  </div>
  
  
  <div class="form11" >
    <div class="titre1" > Portions</div>
   <mat-card class="C2" >
    <section >  
      <p class="prep1">1 Barre=45g</p>
      <p class="prep1">2 Barre=90g </p>
    </section>
   </mat-card>
  </div>
  
  
  <div class="form12" >
    <div class="titre1" > Compositions par 100g</div>
   <mat-card class="C3" >
    <section >  
      
      <div class="table-wrapper-scroll-y my-custom-scrollbar">

      <table class="table  table-borderless  table2 table-responsive">
        <thead>
          <tr>
           <th>Nutriment</th>
           <th>Teneur</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            
            <td>M</td>
            <td>M</td>
          </tr>
          <tr>
            
            <td>M</td>
            <td>M</td>
            
          <tr>
            
            <td>LM</td>
            <td>M</td>
          </tr>
          <tr>
           
            <td>M</td>
          
          </tr>
          <tr>
          
            <td>M</td>
            <td>M</td>
          </tr>
          <tr>
           
            <td>M</td>
            <td>M</td>
          </tr>
          <tr>
            
            <td>M</td>
            <td>M</td>
          </tr>
          <tr>
            
            <td>M</td>
            <td>M</td>
          </tr>
          <tr>
            
            <td>M</td>
            <td>M</td>
          </tr>
          <tr>
            
            <td>M</td>
            <td>M</td>
          </tr>
          <tr>
            
            <td>M</td>
            <td>M</td>
          </tr>
          <tr>
            
            <td>M</td>
            
          </tr>
          <tr>
           
            <td>M</td>
            <td>M</td>
          </tr>
          <tr>
           
            <td>M</td>
            <td>M</td>
          </tr>
          <tr>
           
            <td>M</td>
            <td>M</td>
          </tr>
          <tr>
           
            <td>M</td>
            <td>M</td>
          </tr>
          <tr>
           
            <td>M</td>
            <td>M</td>
          </tr>
        </tbody>
      </table>
    
    </div>
    </section>
   </mat-card>
  </div>
  
  <div class="form13" >
    <div class="titre1" > Symtomes</div>
   <mat-card class="C4"  >
    <section id="sec">  
      <mat-checkbox >Symtome</mat-checkbox>
      <br>  <br>
      <mat-checkbox >Symtome</mat-checkbox>
      <br>  <br>
      <mat-checkbox >Symtome</mat-checkbox>
    </section>
   </mat-card>
  </div>
  <div class="divboutton " > 
  <div class="b1"> <a href="/" style="color:#FFF; text-decoration: none;"> Masquer</a></div> 
    <div class="b2"> <a href="/" style="color:#FFF; text-decoration: none;"> Modifier</a></div>
    <div class="b3"> <a href="/" style="color:#FFF; text-decoration: none;"> Ajouter</a></div> 
    <div class="b4"> <a href="/" style="color:#FFF; text-decoration: none;"> Supprimer</a></div>
  </div>
  </div>
   <app-footer></app-footer>
</body>

</html>