.titre
{
    text-align: center;
    color:#00babb;
    font-weight:900;
    font-family: ' sans-serif' ;
    margin-top:2vw;
}

.submit {
    cursor: pointer;
    font-size: 2vw;
      border-radius: 5em;
      color: #fff;
      background:  #56afaf;
      padding-left:30vw;
      padding-right: 30vw;
      padding-bottom: 0.8vw;
      padding-top: 0.8vw;
      font-family: serif;
      margin-left:12vw;
      margin-right: 12vw;
      margin-bottom: 12vw;
      margin-top:10vw;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      
      
  }
  
  
  a {
      text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
      color: #00babb;
      text-decoration: none
  }
  
 .progressbar-wrapper {
    background: #fff;
    
    padding-top: 2vw;
    padding-bottom: 1vw;
    padding-left: 3vw;
    padding-right: 1vw;
    font-size: 1vw;
    display: flex;
    margin-left:25vw;
  margin-right:1vw;
  text-decoration: none;
 
}
.btn0{
  text-decoration: none;
  color:#b0b3b3;
}
.btn1{
 color:#b0b3b3;
}
.btn2{
    color:#00babb;
   }
   .btn3{
    color:#b0b3b3;
   }
.quitter{
    cursor: pointer;
    font-size: 1vw;
      border-radius: 5em;
      color: #fff;
      width:8vw;
      font-weight: bold;
      background:  #00babb;
      padding-left: 2.5vw;
      padding-right: 2vw;
      padding-bottom: 0.5vw;
      padding-top: 0.5vw;
      font-family: serif;
      margin-left:10vw;
      margin-right: 5vw;
      float:right;
      margin-top:0.5vw;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }
.inferieur{
    color: #00babb;
    margin-left: 1vw; 
    font-weight:  900px;;
    margin-right: 1vw; 
  
}

mat-checkbox 
{
  transform: scale(2,2);
  color: #8f8684;
  padding-left: 3vw;;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #23b4b8!important;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: #23b4b8 !important;
}

.form1 
{
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 0.8vw;
  
}
.bordure{
  border: 0.1vw solid #d1cdcd ;

}
.entete
{
  border-radius: 2vw ;
  border: 0.2vw solid #d1cdcd ;
  font-size: 1.7vw;
  padding-left: 1vw;
  padding-top: 0.5vw;
  height:4vw;
  color: #FFF;
  font-weight: bold;
  font-family: serif;

}
mat-icon{
  transform: scale(2);
  float:right;
   font-size: 2vw;
   height: 1vw ;
   width: 3vw;
}