<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
</head>

<body>
    <div class="titre" style="font-size: 2vw;">Prescription Compléments alimentaire</div>
    <div class="progressbar-wrapper">
    
        <a href="form" class="btn0">Information Personnelle </a><br><div class="inferieur" >></div>&ensp;
        <a href="questionnaire" class="btn1" >Questionnnaire </a>&ensp; <div class="inferieur">></div>&ensp;
       <a href="prescription" class="btn2" > Prescriptions Compléments</a>&ensp; <div class="inferieur">></div>&ensp;
        <a href="impression" class="btn3"> impression</a>
        
       <div class="quitter"> <a href="/" style="color:#FFF; text-decoration: none;"> Quitter</a></div>
       <br>
 </div>
 
 
 
  <div class="main">
    
   

    <div>
      <a class="submit" href="impression"> ENREGISTRER </a>   
    </div>
      
    </div>
    
</body>

</html>