@import '~bootstrap/dist/css/bootstrap.min.css';
.titre
{
    text-align: center;
    color:#56afaf;
    font-weight:900;
    font-family: ' sans-serif' ;
    margin-top: 3vw;
}
#tableau{
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top:0.5vw;
    width:60vw;
    table-layout: fixed;
  
}
table td{
    border: 0.1vw solid #9c9e9e;
    height:2vw;
    font-size: 1.5vw;
    color:#b2bbbb;
    
}
table th{
    border: 0.1vw solid #9c9e9e;
    color:#FFF;
  
    
}

input  {
    float: left;
    padding: 1vw;
    border: solid #56afaf;
  background-color: #FFF;
  margin-top:4vw;
  margin-left:20vw;
  margin-bottom: 1vw;;
  border-radius: 25vw 0vw 0vw 25vw ;
  border-width:0.2vw;
    font-size: 1vw;
    width:15vw;
    height:3vw;
  }
  .chercher{
      text-decoration: none;
      background-color: #23b4b8 ;
      height:3vw;
      color:#FFF;
      font-weight: bold;
      padding-top: 1vw;
      width:10vw;
      padding-left: 2vw;
      font-size: 1vw;
      margin-top:4vw;
      margin-bottom: 1vw;
      border-radius: 0vw 25vw 25vw 0vw ;
  }
  