<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
</head>

<body>
<div class="titre" style="font-size: 2vw;">Liste des profils sur BiodyManager</div>
<div   style="display:flex">
<input class="searchbar"   type="text" placeholder="Search.."> 
<a class="chercher" href="#"> CHERCHER </a>   
</div>
<table class="table table-striped" id="tableau">
    <thead>
      <tr style="background-color:#23b4b8 " >
        
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Date de Naissance</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">test</td>
        <td>Mark</td>
        <td>22/10/2000</td>
       
      
      </tr>
      <tr>
        <td scope="row">test</td>
        <td>Jacob</td>
        <td>22/10/2000</td>
       
       
      </tr>
      <tr>
        <td scope="row">test</td>
        <td >Larry the Bird</td>
        <td>22/10/2000</td>
       
       
      </tr>
    </tbody>
  </table>
</body>

</html>