.center {
    background-color: #FFFFFF;
    height: auto;
    margin-top: 10%;
    border-radius: 1.5em;
    padding-top: 1vw;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4%;
}

.titre {
    padding-top: 8%;
    color: #70caca;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 3vw;
    padding-bottom: 2%;
}

.mdp {
    float: right;
    font-size: 90%;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #70caca, #07dfdf);
    border: 0;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Ubuntu', sans-serif;
    font-size: x-large;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(8, 5, 5);
}

input:focus {
    outline: none;
    box-shadow: none;
}
mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
::ng-deep.mat-progress-spinner circle,.mat-spinner circle {stroke: #70caca !important;
background: none;}

.spinner_overlay {

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.4;
    z-index: 1000;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    .boutton{
        background-color: #70caca;
    }
    .t1{
        justify-content: center;
        text-align: center;
        font-weight: 900;
        color: #70caca;
        font-size: x-large;
        margin-top: 5% !important;
    }
    @media screen and (max-width: 1000px) {
        img{
          display: none !important;
        }
    }