<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>

<body>
  <app-navmenu></app-navmenu>
  <div class="container">
  <div class="progressbar-wrapper">
    
    <a href="parametre" class="btn0">Paramètre </a><br><div class="inferieur" >></div>&ensp;
    <a href="gestion" class="btn1" >Gestion des compléments </a><div class="inferieur" >></div>&ensp;
    <a href="preparations" class="btn2" >Gestion des Compléments alimentaires </a>&ensp; 
   <br>
</div>
<h1 class="titre" style="font-size: 2vw;">Gestion des Compléments alimentaires</h1>

<br>
<div class="row">
  <div class="form1 col-md-3" >
    <div class="titre1" > Préparations Originales</div>
   <mat-card  class="example-container mat-elevation-z8" >
    
   
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
     <ng-container matColumnDef="name">
  
       
  
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  
      </ng-container>
  
    
  
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row); preparationToManage(row); getOneNutrient()" 
        [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
        (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
  
    </table>
   
   </mat-card>
  </div>
  
  
  <div class="form11 col-md-3" >
    <div class="titre1" > Portions</div>
    <mat-card class="C3 example-container mat-elevation-z8" >
    <table cdk-table [dataSource]="dataSource1" class="mat-elevation-z8">
  
      <ng-container cdkColumnDef="portion">
        <td cdk-cell *cdkCellDef="let element" (click)="search('{{element.portion}}')" 
        > {{element.portion}} </td>
  
      </ng-container>
  
       <ng-container matColumnDef="tenor">
  
        <th mat-header-cell *matHeaderCellDef> Teneur </th>
  
        <td mat-cell *matCellDef="let element"> {{element.tenor}} </td>
  
      </ng-container> 
      
      <tr cdk-row *matRowDef="let row; columns: displayedColumns1;" ></tr>
  
    </table>
    </mat-card>
  </div>
  
  
  <div class="form12  col-md-3" >
    <div class="titre1" > Compositions par 100g</div>
   <mat-card class="C3 example-container mat-elevation-z8" >
    
  
     <table cdk-table [dataSource]="dataSource1" class="mat-elevation-z8">
  
        <ng-container cdkColumnDef="portion">
          <td cdk-cell *matCellDef="let element" (click)="search('{{element.portion}}')" 
          > {{element.portion}} </td>
    
        </ng-container>
  
        <!-- <ng-container matColumnDef="tenor">
    
          <th mat-header-cell *matHeaderCellDef> Teneur </th>
    
          <td mat-cell *matCellDef="let element"> {{element.tenor}} </td>
    
        </ng-container> -->
        
        <tr cdk-row *matRowDef="let row; columns: displayedColumns1;" ></tr>
    
      </table>
    
   </mat-card>
  </div> 
  
  <div class="form13 col-md-3 " >
    <div class="titre1" > Symtomes</div>
    <mat-card class="C3 example-container mat-elevation-z8"   >
    
   <table cdk-table [dataSource]="dataSource2" class="mat-elevation-z8">
  
    <ng-container cdkColumnDef="symptom_name">
      <td cdk-cell *cdkCellDef="let element" (click)="search('{{element.symptom_name}}')" 
      >  <mat-checkbox >{{element.symptom_name}} </mat-checkbox></td>
  
    </ng-container>
    <tr cdk-row *matRowDef="let row; columns: displayedColumns2;" ></tr>
  
  </table>
  </mat-card>
  </div>
  </div>
  <div class="divboutton " > 
  <div class="b1"> <a href="/" style="color:#FFF; text-decoration: none;"> Masquer</a></div> 
    <div class="b2"> <a href="/" style="color:#FFF; text-decoration: none;"> Modifier</a></div>
    <div class="b3"> <a href="ajoutpreparation" style="color:#FFF; text-decoration: none;"> Ajouter</a></div> 
    <div class="b4"> <a href="/" style="color:#FFF; text-decoration: none;"(click)="ConfirmationNotification()" > Supprimer</a></div>
  </div>
  </div>

    <app-footer></app-footer>
    </body>
    
    </html>