<app-navmenu></app-navmenu>


<br><br>

           
<div class="separator">Modifier cet Utilisateur</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-around mt-4">
    <a href="admin/questionnaire/Listequestionnaire"><button mat-flat-button color="primary" ><mat-icon>keyboard_return</mat-icon> &emsp;Retour à la liste des questionnaires</button></a>
    <a href="admin/questionnaire/addquestionnaire"><button mat-flat-button color="primary" ><mat-icon>add_box</mat-icon>&emsp;Ajouter un nouveau questionnaire</button></a>
    <a href="admin/questionnaire/Detailquestionnaire"><button mat-flat-button color="primary"><mat-icon>edit</mat-icon>&emsp;Afficher les details de  ce questionnaire</button></a>
</div>
<div class="outline">

<mat-card class="  mat-elevation-z8  col-10 "  >
    <mat-card-header>
        <mat-card-title class="title-overlap">Modifier ce questionnaire</mat-card-title>
    </mat-card-header>
    <br> <br>
    <mat-card-content>
    <form  [formGroup]="UpdateQuest" >

        <div class="row center" >
            
        <mat-form-field appearance="standard" class=" col-md-6 ">
            <mat-label>Titre</mat-label>
            <mat-icon matPrefix class="my-icon">assignment_ind</mat-icon>

            <input matInput  placeholder="Laura " formControlName="title" >
        </mat-form-field>
        
        
        <mat-form-field appearance="standard" class="col-md-6">
            <mat-label>Ordre</mat-label>
            <mat-icon matPrefix class="my-icon">assignment_ind</mat-icon>

            <input matInput  placeholder="Martin " type="number" formControlName="order" >
        </mat-form-field>
    </div>


    <section class="example-section" >
        <p><mat-checkbox   title="activation souscription" formControlName="ispublished"   (change)="checkValue(isChecked?'désactivé':'activé')">Est Publié</mat-checkbox></p>
        
      </section>
       
        
       
        </form>
        <div  class=" boutton   ">
            <button mat-button (click)=" updateQuestionnaire(); "  >Modifier</button>
        </div>
        </mat-card-content>
        </mat-card>
        </div>
  


<app-footer></app-footer>