<div class="all">
   <div  class="title" style="display: flex;"> <img src="./assets/logo.png" style="width: 105px;" alt="logo"> <br><div style="margin-top:2%" >Biody Diet</div> </div>
    <strong><div style="font-size: x-large;;">Mentions légales</div></strong><br>
    <strong>Editeur</strong><br><br>
    Aminogram SAS au capital de 40 000 € est Inscrite au Registre du Commerce et des Sociétés de Marseille sous le
    numéro 450 615 158 <br> <br>

    <strong>Siège social :</strong> <br> <br>
    ZI Athélia III <br>
    96 Voie Atlas<br>
    13600 La Ciotat -France.<br>
    N° de TVA Intracommunautaire<br>
    Tel : 33(0) 4 42 72 66 03<br>
    contact@aminogram.com<br><br>

    <strong>Responsable de la publication</strong><br><br>
    Mélody Letourneur : Présidente<br>

    <strong>Hébergeur</strong><br><br>
    SIGMA INFORMATIQUE SAS ZI La Gesvrine<br>
    Rue Newton<br>
    44240 LA CHAPELLE-SUR-ERDRE<br>
    FRANCE<br>
    33 (0) 2 40 37 14 00<br>
    www.sigma.fr<br>
</div>