<app-navmenu>
</app-navmenu>
<div class="titre" style="font-size: 2vw;">Liste des profils sur BiodyManager</div>
<div style="display:flex">
    <input matInput (keyup)="applyFilter($event)" class="searchbar" type="text" placeholder="Search.."  #input>
    <a class="center chercher"> CHERCHER </a>
</div>

<ng-container *ngIf="loading$ | async">
    <div class="spinner_overlay"></div>

    <mat-progress-spinner [color]="'#70caca'" [mode]="'indeterminate'"></mat-progress-spinner>  
  </ng-container>
<div class="example-container mat-elevation-z8">


<table mat-table matTableExporter [dataSource]="dataSource" matSort (matSortChange)=" announceSortChange($event)" class="table table-striped table-hover " #exporter="matTableExporter">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th style="width: 15%;" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
            id
        </th>

        <td mat-cell *matCellDef="let element"> {{ element.id }} 

        </td>

    </ng-container>

    Name Column
    <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by first_name">
            Nom
        </th>
        <td mat-cell *matCellDef="let element" ><a [routerLink]="[ '/info',element.id] ">{{element.first_name}} </a></td>
    </ng-container>

    <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by last_name">
            Prénom
        </th>
<tr>
        <td mat-cell *matCellDef="let element "> <a [routerLink]="[ '/info',element.id] ">{{element.last_name}}  </a></td>
</tr>
    </ng-container>


    <ng-container matColumnDef="birth_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date_of_birth ">
            Date de naissance
        </th>
        <tr>
        <td mat-cell *matCellDef="let element "> <a [routerLink]="[ '/info',element.id] "> {{element.birth_date    }} </a> </td>
    </tr>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true  "></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
</table>

</div>
<button mat-flat-button color="primary"  class="export"  (click)="exporter.exportTable('csv')">export to CSV</button>
<button mat-flat-button color="primary"  (click)="exporter.exportTable('xls')">export to xls</button>

<app-footer></app-footer>
