@import '~bootstrap/dist/css/bootstrap.min.css';
.titre
{
    text-align: center;
    color:#56afaf;
    font-weight:900;
    font-family: ' sans-serif' ;
    margin-top: 3vw;
}
table{
   
    margin-top:0.5vw;
    table-layout: fixed;
    margin: auto;
   width: 50% !important; 
   
  
  
}
a{
    text-decoration: none;
    color:#707272;
}
table td{
    border: 0.1vw solid #9c9e9e;
    height:1vw;
    font-size: 1vw;
   
   
    
}
table th{
    border: 0.1vw solid #9c9e9e;
    color:#FFF;
    background-color:  #56afaf;
    height: 2vw !important;
    font-size: 1vw;
  
    
}

input  {
    float: left;
    padding: 1vw;
    border: solid #56afaf;
  background-color: #FFF;
  margin-top:4vw;
  margin-left:25vw;
  margin-bottom: 1vw;;
  border-radius: 25vw 0vw 0vw 25vw ;
  border-width:0.2vw;
    font-size: 1vw;
    width:15vw;
    height:3vw;
  }
  .chercher{
      text-decoration: none;
      background-color: #23b4b8 ;
      color:#FFF;
      font-weight: bold;
      height:3vw;
      padding: 1vw;

      width:8%;
      font-size: 1vw;
      margin-top:4vw;
      margin-bottom: 1vw;
      border-radius: 0vw 25vw 25vw 0vw ;
  }
  
  table {
    width: 130%;
    height:100%;
    position: sticky
  }

  .example-container {
    height: 400px;
    overflow: auto;
  }
  .mat-elevation-z8 {
box-shadow: none;
height:500px;

}