
<app-navmenu></app-navmenu>
<div class="d-grid gap-2 d-md-flex justify-content-md-around mt-4">
    <a href="admin/nutrient/nutrientlist"><button mat-flat-button color="primary" ><mat-icon>keyboard_return</mat-icon> &emsp;Retour à la liste des nutriments</button></a>
</div>
<mat-card class="example-card col-md-4 center">
        <mat-card-title-group>
          <mat-card-title>Information nutriment</mat-card-title>
            <div class="line"><mat-divider></mat-divider></div>
            <div class="line"><mat-divider></mat-divider></div>
          <mat-card-subtitle> <mat-icon matPrefix class="my-icon">assignment_ind</mat-icon> <span class="titre" > name :    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; </span><span class="detail " > {{name}}</span></mat-card-subtitle>
          <mat-card-subtitle> <mat-icon matPrefix class="my-icon">assignment_ind</mat-icon> <span class="titre" > tenor:    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; </span><span class="detail " > {{tenor}}</span></mat-card-subtitle>
          <mat-card-subtitle> <mat-icon matPrefix class="my-icon">assignment_ind</mat-icon> <span class="titre" > unity :    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; </span><span class="detail " > {{unity}}</span></mat-card-subtitle>
          <mat-card-subtitle> <mat-icon matPrefix class="my-icon">date_range</mat-icon><span class="titre" >Créé le  :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span class="detail" >{{createdAt}}</span></mat-card-subtitle>
          <mat-card-subtitle> <mat-icon matPrefix class="my-icon">date_range</mat-icon><span class="titre" >Modifié le  :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span class="detail" >{{modifiedAt}}</span></mat-card-subtitle>
        </mat-card-title-group>
      
      </mat-card>
    
  
  
  <app-footer></app-footer>
