<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
</head>

<body>
    <div class="titre" style="font-size: 2vw;">Dernière Prescription</div>
    <div class="progressbar-wrapper">
        <a href="form" class="btn0">Derniére analyse </a><br><div class="inferieur" >></div>&ensp;
     
      <a href="questionnaire" class="btn1" >Questionnnaire </a>&ensp; <div class="inferieur">></div>&ensp;
     <a href="dernierePresc" class="btn2" >Denière prescriptions </a>&ensp; <div class="inferieur">></div>&ensp;
      <a href="prescription" class="btn3"> Precriptions compléments</a>&ensp; <div class="inferieur">></div>&ensp;
      <a href="impression" class="btn4"> Impression</a>
      
     <div class="quitter"> <a href="/" style="color:#FFF; text-decoration: none;"> Quitter</a></div>
     <br>
  </div>
 
 
  
 <div class="form1"    >
  <div  class="entete"   
  (click)="toggleShow()"
  [style.background-color]="isShown ? '#d1cdcd' : ''" 
  [style.border-top-left-radius]="isShown ? '2vw' : ''" 
  [style.border-top-right-radius]="isShown ? '2vw' : ''" 
  [style.border-bottom-left-radius]="isShown ? '0vw' : ''" 
  [style.border-bottom-right-radius]="isShown ? '0vw' : ''" 
  [style.color]="isShown ? 'white' : '#a49c9b'" >
Compléments prescrits le XX/XX/XXXX
   <mat-icon  class="b1"[style.color]="'#70caca'"  *ngIf="!isShown">keyboard_arrow_down</mat-icon>
   <mat-icon class="b1" [style.color]="'#70caca'"  *ngIf="isShown">keyboard_arrow_up</mat-icon>
  </div>
  <mat-card class="bordure" *ngIf="isShown" >
 <section >   
   <mat-checkbox  >un poid idéal</mat-checkbox>
   <br>  <br>  
   <mat-checkbox >un poid idéal</mat-checkbox>
   <br> <br>  
   <mat-checkbox >un poid idéal</mat-checkbox>
   
   <br> <br>  
   <mat-checkbox >un poid idéal</mat-checkbox>
   <br> <br>  
 </section>
</mat-card>
</div>
<br>

<br><br><br><br>
      <a class="submit" href="prescription"> SUIVANT </a>   
  
      
   
    
</body>

</html>