

    <footer class="page-footer fixed-bottom     "
        style="background-color:#23b4b8  ; margin-bottom: 0 !important;">
        <div class="text-center ">
            <div class="col-md-12">
                <p style="color: white; font-weight: 800;"> | <a href="http://localhost:4200/legal-notice" target="_blank"> Mentions Légales</a> |
                     <a href="http://localhost:4200/terms-and-conditions" target="_blank">Condition Génerales d'utilisations</a> |
                </p>
                <p style="color: black;"> copyright &copy; Continuous NET</p>
            </div>
        </div>

    </footer>


