<app-navmenu>
</app-navmenu>
<div class="NameBande">{{profil}} </div>

<div class="quitter"> <a href="home" style="color:#FFF; text-decoration: none;"> Quitter</a></div>
<div class="stepperContainer  ">
    <mat-horizontal-stepper #stepper  (selectionChange)="onStepChange($event)">
        <!-- STEPS -->


        <mat-step [stepControl]="firstFormGroup" label="Dernière Analyse" [editable]="true">
            <div class="titre" style="font-size: 2vw;">Analyse BiodyManager du {{DernierePresc}}</div>


            <table class="table table-striped tbody table-hover ">
                <thead>
                    <tr>
                        <th> Indicateur</th>
                        <th> Valeur Calculée</th>
                        <th> Ecart théorique</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>IMC </td>
                        <td>20.81</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Masse grasse à hydratation constante </td>
                        <td>18.13%</td>
                        <td>-1.83Kg</td>
                    </tr>
                    <tr>
                        <td>Masse musculaire squelettique </td>
                        <td>23.00 Kg</td>
                        <td>4.29 Kg</td>
                    </tr>
                    <tr>
                        <td>Index SMI</td>
                        <td>9.57 kg/m²</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Taux d'hydratation hors graisse </td>
                        <td>81.69 %	</td>
                        <td>3.83 L</td>
                    </tr>
                    <tr>
                        <td>Eau extracellulaire</td>
                        <td>39.82 %	</td>
                        <td>2.18 %</td>
                    </tr>
                    <tr>
                        <td>Contenu minéral osseux</td>
                        <td>2.14 kg	</td>
                        <td>0.32 kg</td>
                    </tr>
                </tbody>


            </table>

        </mat-step>


        <mat-step label="Questionnaire" state="done" state="edit">
            <div class="titre" style="font-size: 2vw;">{{title[1]}}</div>
            <mat-accordion class="panel ">
                <ng-container *ngIf="loading$ | async">
                    <div class="spinner_overlay"></div>
                    <mat-progress-spinner [color]="'#70caca'" [mode]="'indeterminate'"></mat-progress-spinner>  
                  </ng-container>
                    <mat-expansion-panel class="bgcolor" *ngFor="let quest of elements;" >
                        <mat-expansion-panel-header style="border-bottom-left-radius: 0em !important; border-bottom-right-radius: 0em !important ; ">
                            <mat-panel-title>
                                {{quest.id}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <mat-checkbox *ngFor="let c of quest.answers; let i=index" #checkBox [value]="c" [(ngModel)]="quest.answers[i].checked" (change)="showOptions($event)">
                                {{c.name}}
                            </mat-checkbox>
                        </div>
                    </mat-expansion-panel>

                </mat-accordion>
                
            <div class=" boutton ">
                <button  mat-button matStepperNext>SUIVANT</button>
            </div>
            <br><br><br><br>
       
        </mat-step>


        <mat-step label="Dernière prescription"  [completed]="true">
            <div class="titre" style="font-size: 2vw;">Dernière prescriptions</div>

            <mat-accordion class="panel ">

                <mat-expansion-panel (opened)="panelOpenState4=true ; " (closed)="panelOpenState4=false " >
                    <mat-expansion-panel-header [style.background-color]="panelOpenState4 ? '#818181 !important' : '' " style="border-bottom-left-radius: 0em !important; border-bottom-right-radius: 0em  !important;   ">
                        <mat-panel-title [style.color]="panelOpenState4 ? 'white !important' : '#a49c9b !important' ">
                             
                           Prescription compléments alimentaires le: &nbsp; &nbsp;<strong> {{DernierePresc}}</strong><br>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <h4 *ngFor="let prod of ProdImpression;"> {{prod.prod}}</h4>

                    
                   

                </mat-expansion-panel>

            </mat-accordion>

            <div class=" boutton ">

                <button mat-button matStepperNext>SUIVANT</button>
            </div>
        </mat-step>


        <mat-step label="Prescriptions Compléments" state="done" state="edit">
            <div class="titre" style="font-size: 2vw;">{{title[2]}}</div>
            <mat-accordion class="panel ">

                <mat-expansion-panel (opened)="panelOpenState3=true ; " (closed)="panelOpenState3=false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState3 ? '#818181 !important'  : '' " style="border-bottom-left-radius: 0em !important ; border-bottom-right-radius: 0em !important ; size:5vw !important ">
                        <mat-panel-title [style.color]="panelOpenState3 ? 'white !important' : '#a49c9b !important' ">
                            Compléments alimentaires
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="row">
                        <mat-checkbox *ngFor="let c of Complements; let i=index " #checkBox [value]="c"  [(ngModel)]="Complements[i].checked" (change)="showOptionsProducts($event)">
                            {{c.value}}
                        </mat-checkbox>
                    </div>

                </mat-expansion-panel>

            </mat-accordion>
            <mat-accordion class="panel ">
                
                <mat-expansion-panel (opened)="panelOpenState2=true ; " (closed)="panelOpenState2=false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState2 ? '#818181 !important' : '' " style="border-bottom-left-radius: 0em !important; border-bottom-right-radius: 0em !important ; ">
                        <mat-panel-title [style.color]="panelOpenState2 ? 'white !important' : 'darkgray !important' ">
                            Préparations hyperprotéinées
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="row">
                        <mat-checkbox *ngFor="let c of Preparations; let i=index " #checkBox [value]="c"  [(ngModel)]="Preparations[i].checked" (change)="showOptionsProducts($event)">
                            {{c.value}}
                        </mat-checkbox>
                    </div>
                </mat-expansion-panel>

            </mat-accordion>

            <div class=" boutton d-flex justify-content-center ">
                <button (click)='SavePrescription()' [disabled]="click" mat-button matStepperNext> ENREGISTRER</button>
            </div>
            <br><br><br><br>
        </mat-step>

        <mat-step label="impression" state="">
            <mat-accordion class="panel ">

                <mat-expansion-panel (opened)="panelOpenState4=true ; " (closed)="panelOpenState4=false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState4 ? '#818181 !important' : '' " style="border-bottom-left-radius: 0em !important; border-bottom-right-radius: 0em  !important;   ">
                        <mat-panel-title [style.color]="panelOpenState4 ? 'white !important' : '#a49c9b !important' ">
                            <mat-checkbox  value="Select All" (change)="onChangeAll($event)" (click)="$event.stopPropagation()" 
                            (keydown)="$event.stopPropagation()"> Entete </mat-checkbox><br>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox  [checked]="IsSelected"(change)="onChangeLogo($event)" > logo</mat-checkbox><br>
                    <mat-checkbox  [checked]="IsSelected"(change)="onChangeNom($event)"  > Nom et Prénom</mat-checkbox><br>
                    <mat-checkbox  [checked]="IsSelected"(change)="onChangeEntreprise($event);"> Entreprise</mat-checkbox><br>
                    <mat-checkbox [checked]="IsSelected"(change)="onChangeVille($event) ;" > Adresse , Code Postale et Ville </mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>

            <mat-expansion-panel class="no-body" [disabled]="true" (opened)="panelOpenState0=true ; " (closed)="panelOpenState0=false ">
                <mat-expansion-panel-header class="no-body" >
                    <mat-panel-title style="color: #a49c9b !important;">
                        <mat-checkbox (change)="onChangePrescription($event)" > Prescriptions compléments alimentaire</mat-checkbox>
                    </mat-panel-title>
                </mat-expansion-panel-header>



            </mat-expansion-panel>
           

            <div class=" boutton ">

                <button mat-button matStepperNext (click)="onPrintInvoice()">PRINT</button>
            </div>
            <ng-container *ngIf="loading$ | async">
                <div class="spinner_overlay"></div>
            
                <mat-progress-spinner [color]="'#70caca'" [mode]="'indeterminate'"></mat-progress-spinner>  
              </ng-container>
        </mat-step>

        <!-- STEPS -->

        <!-- Replace icon mat-step -->
        <ng-template matStepperIcon="done">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="edit">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </ng-template>
        <!-- Replace icon mat-step -->
    </mat-horizontal-stepper>
</div>
<app-footer></app-footer>