<app-navmenu>
</app-navmenu>
<div class="NameBande">{{profil}} </div>

<div class="quitter"> <a href="home" style="color:#FFF; text-decoration: none;"> Quitter</a></div>
<div class="stepperContainer  ">
    <mat-horizontal-stepper [linear]="true" #stepper (selectionChange)="onStepChange($event)">
        <!-- STEPS -->


        <mat-step [stepControl]="firstFormGroup" label="Information personnelle" state="done" state="edit">
            <div class="titre" style="font-size: 2vw;">Analyse BiodyManager du </div>


            <table class="table table-striped tbody table-hover ">
                <thead>
                    <tr>
                        <th> Indicateur</th>
                        <th> Valeur Calculée</th>
                        <th> Ecart théorique</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>IMC </td>
                        <td>555 77 854</td>
                        <td>555 77 854aaaa</td>
                    </tr>
                    <tr>
                        <td>Masse grasse à hydratation constante </td>
                        <td>555 77 854</td>
                        <td>555 77 854aaaa</td>
                    </tr>
                    <tr>
                        <td>Masse musculaire squelettique </td>
                        <td>555 77 854</td>
                        <td>555 77 854aaaa</td>
                    </tr>
                    <tr>
                        <td>Index SMI</td>
                        <td>555 77 854</td>
                        <td>555 77 854aaaa</td>
                    </tr>
                    <tr>
                        <td>Taux d'hydratation hors graisse </td>
                        <td>555 77 854</td>
                        <td>555 77 854aaaa</td>
                    </tr>
                    <tr>
                        <td>Eau extracellulaire</td>
                        <td>555 77 854</td>
                        <td>555 77 854aaaa</td>
                    </tr>
                    <tr>
                        <td>Contenu minéral osseux</td>
                        <td>555 77 854</td>
                        <td>555 77 854aaaa</td>
                    </tr>
                </tbody>


            </table>

        </mat-step>


        <mat-step label="Questionnaire" state="done" state="edit">
            <div class="titre" style="font-size: 2vw;">{{title[1]}}</div>

            <mat-accordion>

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState0 = true ;  " (closed)="panelOpenState0 = false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState0 ? '#d1cdcd !important' : ''" style="border-bottom-left-radius: 0em ;
                   border-bottom-right-radius: 0em ;
                   size:5vw !important">
                        <mat-panel-title [style.color]="panelOpenState0 ? 'white !important' : '#a49c9b !important'" style=" size:5vw !important">
                            Objectif Principal
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <mat-accordion class="panel">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState1 = true ;  " (closed)="panelOpenState1 = false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState1 ? '#d1cdcd !important' : ''" style="border-bottom-left-radius: 0em ;
                   border-bottom-right-radius: 0em ;
                   size:5vw !important">
                        <mat-panel-title [style.color]="panelOpenState1 ? 'white !important' : '#a49c9b !important'" style=" size:5vw !important">
                            Questionnare de santé
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <mat-accordion class="panel">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState2 = true ;  " (closed)="panelOpenState2 = false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState2 ? '#d1cdcd !important' : ''" style="border-bottom-left-radius: 0em ;
                   border-bottom-right-radius: 0em ;
                   size:5vw !important">
                        <mat-panel-title [style.color]="panelOpenState2 ? 'white !important' : '#a49c9b !important'" style=" size:5vw !important">
                            Contre Indication
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <mat-accordion class="panel">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState3 = true ;  " (closed)="panelOpenState3 = false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState3 ? '#d1cdcd !important' : ''" style="border-bottom-left-radius: 0em ;
                   border-bottom-right-radius: 0em ;
                   size:5vw !important">
                        <mat-panel-title [style.color]="panelOpenState3 ? 'white !important' : '#a49c9b !important'" style=" size:5vw !important">
                            Carence alimentaire
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <mat-accordion class="panel">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState4 = true ;  " (closed)="panelOpenState4 = false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState4 ? '#d1cdcd !important' : ''" style="border-bottom-left-radius: 0em ;
                   border-bottom-right-radius: 0em ;
                   size:5vw !important">
                        <mat-panel-title [style.color]="panelOpenState4 ? 'white !important' : '#a49c9b !important'" style=" ">
                            Analyse BiodyManager
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <div class=" boutton d-flex justify-content-center  display-3 " style=" width:74vw; background-color: #70caca;
                 margin-left:3vw; padding-bottom: 0.5vw; margin-top:3vw; font-size:2vw">
                <button mat-button matStepperNext>SUIVANT</button>
            </div>
        </mat-step>


        <mat-step label="Dernière prescription" state="done" state="edit">
            <div class="titre" style="font-size: 2vw;">Dernière prescriptions</div>

            <mat-accordion class="panel">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState2 = true ;  " (closed)="panelOpenState2 = false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState2 ? '#d1cdcd !important' : ''" style="border-bottom-left-radius: 0em ;
                   border-bottom-right-radius: 0em ;
                   size:5vw !important">
                        <mat-panel-title [style.color]="panelOpenState2 ? 'white !important' : '#a49c9b !important'" style=" size:5vw !important">
                            Gamme Protéinée
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>

            <div class=" boutton d-flex justify-content-center  display-3 " style=" width:74vw; background-color: #70caca;
                 margin-left:3vw; padding-bottom: 0.5vw; margin-top:3vw;margin-bottom: 8.5vw;font-size:2vw">
                <button mat-button matStepperNext> ENREGISTRER</button>
            </div>
        </mat-step>


        <mat-step label="Prescriptions Compléments" state="done" state="edit">
            <div class="titre" style="font-size: 2vw;">{{title[2]}}</div>

            <mat-accordion class="panel">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState2 = true ;  " (closed)="panelOpenState2 = false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState2 ? '#d1cdcd !important' : ''" style="border-bottom-left-radius: 0em ;
                     border-bottom-right-radius: 0em ;
                     size:5vw !important">
                        <mat-panel-title [style.color]="panelOpenState2 ? 'white !important' : '#a49c9b !important'" style=" size:5vw !important">
                            Gamme Protéinée
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <mat-accordion class="panel">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState3 = true ;  " (closed)="panelOpenState3 = false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState3 ? '#d1cdcd !important' : ''" style="border-bottom-left-radius: 0em ;
                     border-bottom-right-radius: 0em ;
                     size:5vw !important">
                        <mat-panel-title [style.color]="panelOpenState3 ? 'white !important' : '#a49c9b !important'" style=" size:5vw !important">
                            Complément alimentaire Nutrisvelt
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <mat-accordion class="panel">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState4 = true ;  " (closed)="panelOpenState4 = false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState4 ? '#d1cdcd !important' : ''" style="border-bottom-left-radius: 0em ;
                     border-bottom-right-radius: 0em ;
                     size:5vw !important">
                        <mat-panel-title [style.color]="panelOpenState4 ? 'white !important' : '#a49c9b !important'" style=" ">
                            Compléments Alimentaires personnels
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <div class=" boutton d-flex justify-content-center  display-3 " style=" width:74vw; background-color: #70caca;
                   margin-left:3vw; padding-bottom: 0.5vw; margin-top:3vw;margin-bottom: 8.5vw;font-size:2vw">
                <button mat-button matStepperNext> ENREGISTRER</button>
            </div>
        </mat-step>

        <mat-step label="impression" state="">
            <div class="titre" style="font-size: 2vw;">{{title[3]}}</div>


            <mat-accordion class="panel">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState2 = true ;  " (closed)="panelOpenState2 = false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState2 ? '#d1cdcd !important' : ''" style="border-bottom-left-radius: 0em ;
                       border-bottom-right-radius: 0em ;
                       size:5vw !important">
                        <mat-panel-title [style.color]="panelOpenState2 ? 'white !important' : '#a49c9b !important'" style=" size:5vw !important">
                            Page de Garde
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <mat-accordion class="panel">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState3 = true ;  " (closed)="panelOpenState3 = false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState3 ? '#d1cdcd !important' : ''" style="border-bottom-left-radius: 0em ;
                       border-bottom-right-radius: 0em ;
                       size:5vw !important">
                        <mat-panel-title [style.color]="panelOpenState3 ? 'white !important' : '#a49c9b !important'" style=" size:5vw !important">
                            Prescriptions Compléments
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <mat-accordion class="panel">

                <mat-expansion-panel style="border-radius: 3em ; " (opened)="panelOpenState4 = true ;  " (closed)="panelOpenState4 = false ">
                    <mat-expansion-panel-header [style.background-color]="panelOpenState4 ? '#d1cdcd !important' : ''" style="border-bottom-left-radius: 0em ;
                       border-bottom-right-radius: 0em ;
                       size:5vw !important">
                        <mat-panel-title [style.color]="panelOpenState4 ? 'white !important' : '#a49c9b !important'" style=" ">
                            Fiche Conseils
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox><br>
                    <mat-checkbox> I'm visible because I am open</mat-checkbox>

                </mat-expansion-panel>

            </mat-accordion>
            <div class=" boutton d-flex justify-content-center  display-3 " style=" width:74vw; background-color: #70caca;
                     margin-left:3vw; padding-bottom: 0.5vw; margin-top:3vw;margin-bottom: 8.5vw;font-size:2vw">
                <button mat-button matStepperNext>PRINT</button>
            </div>
        </mat-step>

        <!-- STEPS -->

        <!-- Replace icon mat-step -->
        <ng-template matStepperIcon="done">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="edit">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </ng-template>
        <!-- Replace icon mat-step -->
    </mat-horizontal-stepper>
</div>
<app-footer></app-footer>