::ng-deep .mat-stepper-horizontal-line {
    border-top-style: none !important;
    margin: 0 0 !important;
    min-width: 0 !important;
    height: 15px !important;
}

::ng-deep .mat-vertical-stepper-content 
{
    visibility: visible !important;
}
::ng-deep .mat-stepper-horizontal-line::before {
    content: "\003E";
    color: #00babb !important;
}

::ng-deep .mat-horizontal-stepper-header .mat-step-icon {
    display: none !important;
}

::ng-deep .mat-step-header .mat-step-label {
    font-size: small !important;
    color: darkgray !important;
}

@media(min-width :600px) {
    ::ng-deep .mat-horizontal-stepper-header-container {
        min-width: 45%;
        max-width: 45%;
        margin-left: auto;
        margin-right: auto;
    }
}

::ng-deep .mat-step-header .mat-step-label-selected {
    color: #00babb !important;
}
mat-card.mat-elevation-z8 {
    box-shadow: none;}
mat-card {
    width: 60%;
    box-shadow: none !important;
margin-right: auto;
margin-left: auto;
    border: 1px solid #b0b3b3;
    padding-top: 3%;
    margin-bottom: 2%;
    padding-bottom: 2%;
}

.center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.stepper-header-title {
    text-align: center !important;
    color: #00babb;
    font-weight: 500;
    margin-top: 1%;
    margin-bottom: 1%;
}

.bt-quitter {
    border-radius: 5em;
    font-weight: bold;
    background: #4eb5b8;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0.5vw;
    padding-top: 0.5vw;
    font-family: serif;
    float: right;
    color: #FFF;
    text-decoration: none;
    margin-right: 3vw;
}

.btRecherche {
justify-content: center;
align-items: center;
margin-left: 35% !important;
margin-right: 35% !important;
cursor: pointer;
border-radius: 5em;
color: #fff;
text-decoration: none;
display: flex;           
background-color: #4eb5b8;
min-width: 30%;
min-height: 40px;
font-size: large;

}

::ng-deep .mat-form-field-outline-start {
border-radius: 28px 0 0 28px !important;
min-width: 40px !important;
}

::ng-deep .mat-form-field-outline-end {
border-radius: 0 28px 28px 0 !important;
}

.boutton {
    background-color: #4eb5b8;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    color: #FFF;
    border-radius: 5em;
    text-align: center;
}

.boutton:hover {
    background-color: #096868 !important;
}

::ng-deep .mat-button,
mat-raised-button {
    font-size: medium !important;
    margin-left: 20%;
    margin-right: 20%;
}

::ng-deep .mat-raised-button {
    font-size: medium !important;
    margin-left: 20%;
    margin-right: 20%;
}

::ng-deep .mat-expansion-panel-header {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;                                                                                                  font-size: larger !important;
    border-radius: 1em !important;
margin-left: 0;
    font-family: serif;
}

.mat-expansion-panel {
    margin-top: 1% !important;
    box-shadow: none !important;
    border-color: #d1cdcd;
    border-radius: 2em !important;
    margin-left: 10%;
    margin-right: 10%;
    border: 0.1vw solid #818181;

}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #4eb5b8;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: #4eb5b8;
}

::ng-deep .mat-expansion-indicator::after {
    color: #00babb !important;
    font-weight: 900 !important;
}

.NameBande {
    background-color: #d3d8d8;
    margin-left: 3vw;
    margin-right: 3vw;
    text-align: center;
    font-size: medium !important;
    font-weight: 500;
    padding: 0.5vw;
    font-family: "adobe-clean", sans-serif;
}

.mat-dialog-container {
    border-radius: 20px !important;
}

.mat-expansion-panel-header-title {
    color: rgb(143, 142, 142) ;
}

::ng-deep .no-body .mat-expansion-panel-header .mat-expansion-indicator {
    display: none;
}

.mat-expansion-panel-header {
    height: 40px
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
    background-color: #818181 !important;
        
}
.mat-panel-title {
color: var(--darkGrey)!important;

}
.mat-expansion-panel-header.mat-expanded mat-panel-title {
color: #fff!important}
.mat-expansion-panel-header.mat-expanded:focus {
cursor: pointer;}
.mat-expansion-panel-body:focus {
cursor: none !important;
}


.mat-expansion-panel .my-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]),
.mat-expansion-panel .my-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]), .mat-expansion-panel .my-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]), .mat-expansion-panel:not(.mat-expanded) .my-expansion-panel-header:hover:not([aria-disabled=true]),
.my-expansion-panel-header.mat-expanded:hover:not([aria-disabled=true]) {
cursor: none;
}
mat-progress-spinner {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 5;
}
::ng-deep.mat-progress-spinner circle,.mat-spinner circle {stroke: #70caca !important;
background: none;}

.spinner_overlay {

position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: #fff;
opacity: 0.5;
z-index: 1000;
}
.radio-section{
margin-top: 1vw !important;
display:flex ;

}
input:checked {
border: 6px solid black;
color: #00babb;
}
input[type="radio"]  {
margin-top: 2vw !important;

}
input[type="radio"]:checked  {
color: aqua !important;
}
label span{
display:inline-block;
margin-right: 10px;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
display: none;
-webkit-appearance: none;
}
input[type="date"]::before { 
content: attr(data-placeholder);
width: 100%;
}

/* hide our custom/fake placeholder text when in focus to show the default
* 'mm/dd/yyyy' value and when valid to show the users' date of birth value.
*/
input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }
      
    /***************************************************************************/

.submit2{
    cursor: pointer;
    font-size: 2vw;
      border-radius: 5em;
      color: #fff;
      background:  #00babb;
      padding-left:20vw;
      padding-right: 20vw;
      padding-bottom: 0.8vw;
      padding-top: 0.8vw;
      font-family: serif;
     
      margin-top: 14vw;
      margin-bottom: 1vw;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
      margin: 25vw;
      width: 30% !important; 

  }
  .navbar
  {
    flex-wrap: nowrap;
    list-style-type : none;
    margin-left: 3vw;
    margin-right: 3vw;
    background-color: #dce0e0;
    height:2vw;
    
  
  }

  .titre
  {
      text-align: center;
      color:#00babb;
      font-weight:900;
      font-family: ' sans-serif' ;
      margin-bottom: 2vw;
      font-size: large !important;

  }
 
 a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #00babb;
    text-decoration: none
}
 .progressbar-wrapper {
    background: #fff;
    
    padding-top: 2vw;
    padding-bottom: 1vw;
    padding-left: 3vw;
    padding-right: 1vw;
    font-size: 1vw;
    display: flex;
    margin-left:20vw;
    
  margin-right:1vw;
  text-decoration: none;
 
}
.btn0{
  text-decoration: none;
  color:#00babb;
}
.btn1{
 color:#b0b3b3;
}
.btn2{
    color:#b0b3b3;
   }
   .btn3, .btn4{
    color:#b0b3b3;
   }
.quitter{
    cursor: pointer;
    font-size: 1vw;
      border-radius: 5em;
      color: #fff;
      width:8vw;
      font-weight: bold;
      background:  #00babb;
      padding-left: 2.5vw;
      padding-right: 2vw;
      padding-bottom: 0.5vw;
      padding-top: 0.5vw;
      font-family: serif;
      margin-left:10vw;
      margin-right: 5vw;
      float:right;
      margin-top:0.5vw;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }
.inferieur{
    color: #00babb;
    margin-left: 1vw; 
    font-weight:  900px;;
    margin-right: 1vw; 
  
}



table{
   
    margin-top:2vw;
    table-layout: static;
    margin: auto;
   width: 60% !important; 
   margin-bottom: 3vw;
   
  
  
}
table td{
    border: 0.1vw solid #9c9e9e;
    height:1vw;
    font-size: 1vw;
    color:#707272;
    text-align: center;
    padding: 0.5vw;
    
}
table th{
    border: 0.1vw solid #9c9e9e;
    color:#FFF;
    background-color:  #56afaf;
    height: 2vw !important;
    font-size: 1vw;
    text-align: center;
  
    
}
.NameBande{
    background-color: #d3d8d8;
    margin-left: 3vw;
    margin-right: 3vw;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 900;
    padding: 0.5vw;
    font-family: "adobe-clean", sans-serif;
}


  