<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
</head>

<body>
   
<div class="progressbar-wrapper">
    
    <a href="parametre" class="btn0">Paramètres </a><br><div class="inferieur" >></div>&ensp;
    <a href="editCompte" class="btn1" >Paramètre du compte </a>&ensp; <div class="inferieur">></div>&ensp;
   <a href="editImpression" class="btn2" > Mes informations d'impression</a>&ensp; 
</div>
<div class="titre" style="font-size: 2vw;">mes informations d'impression</div>
    
</body>

</html>


